openapi: 3.1.0

info:
  title: AssemblyAI API
  description: AssemblyAI API
  version: 1.3.4
  termsOfService: https://www.assemblyai.com/legal/terms-of-service
  contact:
    name: API Support
    email: support@assemblyai.com
    url: https://www.assemblyai.com/docs/

servers:
  - url: https://api.assemblyai.com
    description: AssemblyAI API
    x-fern-server-name: Default

tags:
  - name: transcript
    description: Transcript related operations
    externalDocs:
      url: https://www.assemblyai.com/docs/guides/transcribing-an-audio-file
  - name: LeMUR
    description: LeMUR related operations
    externalDocs:
      url: https://www.assemblyai.com/docs/guides/processing-audio-with-llms-using-lemur
  - name: streaming
    description: Streaming Speech-to-Text
    externalDocs:
      url: https://www.assemblyai.com/docs/speech-to-text/streaming

security:
  - ApiKey: []

paths:
  /v2/upload:
    post:
      tags:
        - transcript
      summary: Upload a media file
      description: |
        <Note>To upload a media file to our EU server, replace `api.assemblyai.com` with `api.eu.assemblyai.com`.</Note>
        Upload a media file to AssemblyAI's servers.
      operationId: uploadFile
      x-fern-sdk-group-name: files
      x-fern-sdk-method-name: upload
      requestBody:
        content:
          application/octet-stream: {}
      responses:
        "200":
          x-label: Media file uploaded
          description: Media file uploaded successfully
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadedFile"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        "504":
          $ref: "#/components/responses/GatewayTimeout"

  /v2/transcript:
    post:
      tags:
        - transcript
      summary: Transcribe audio
      description: |
        <Note>To use our EU server for transcription, replace `api.assemblyai.com` with `api.eu.assemblyai.com`.</Note>
        Create a transcript from a media file that is accessible via a URL.
      operationId: createTranscript
      x-fern-sdk-group-name: transcripts
      x-fern-sdk-method-name: submit
      x-fern-request-name: TranscriptParams
      requestBody:
        description: Params to create a transcript
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TranscriptParams"
      responses:
        "200":
          x-label: Transcript created
          description: Transcript created and queued for processing
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transcript"
          links:
            GetTranscriptById:
              $ref: "#/components/links/GetTranscriptById"
            GetTranscriptSentencesById:
              $ref: "#/components/links/GetTranscriptSentencesById"
            GetTranscriptParagraphsById:
              $ref: "#/components/links/GetTranscriptParagraphsById"
            GetTranscriptSubtitlesById:
              $ref: "#/components/links/GetTranscriptSubtitlesById"
            GetTranscriptRedactedAudioById:
              $ref: "#/components/links/GetTranscriptRedactedAudioById"
            WordSearchByTranscriptId:
              $ref: "#/components/links/WordSearchByTranscriptId"
            DeleteTranscriptById:
              $ref: "#/components/links/DeleteTranscriptById"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
      callbacks:
        transcriptReadyWebhook:
          "{$request.body#/webhook_url}":
            post:
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: "#/components/schemas/TranscriptReadyNotification"
              responses:
                "2XX":
                  description: Successfully received the notification
                "4XX":
                  description: Invalid request
                "5XX":
                  description: Unexpected error
        redactedAudioWebhook:
          "{$request.body#/webhook_url}":
            post:
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: "#/components/schemas/RedactedAudioNotification"
              responses:
                "2XX":
                  description: Successfully received the notification
                "4XX":
                  description: Invalid request
                "5XX":
                  description: Unexpected error
    get:
      tags:
        - transcript
      summary: List transcripts
      x-fern-sdk-group-name: transcripts
      x-fern-sdk-method-name: list
      x-fern-request-name: ListTranscriptParams
      operationId: listTranscripts
      description: |
        <Note>To retrieve your transcriptions on our EU server, replace `api.assemblyai.com` with `api.eu.assemblyai.com`.</Note>
        Retrieve a list of transcripts you created. 
        Transcripts are sorted from newest to oldest and can be retrieved for the last 90 days of usage. The previous URL always points to a page with older transcripts.

        If you need to retrieve transcripts from more than 90 days ago please reach out to our Support team at support@assemblyai.com.
      parameters:
        - name: limit
          x-label: Limit
          in: query
          description: Maximum amount of transcripts to retrieve
          schema:
            $ref: "#/components/schemas/ListTranscriptParams/properties/limit"
        - name: status
          x-label: Status
          in: query
          description: Filter by transcript status
          schema:
            # Use TranscriptStatus instead of
            # ListTranscriptParams/properties/limit for better SDK generation
            $ref: "#/components/schemas/TranscriptStatus"

        - name: created_on
          x-label: Created on
          in: query
          description: Only get transcripts created on this date
          schema:
            $ref: "#/components/schemas/ListTranscriptParams/properties/created_on"

        - name: before_id
          x-label: Before ID
          in: query
          description: Get transcripts that were created before this transcript ID
          schema:
            $ref: "#/components/schemas/ListTranscriptParams/properties/before_id"

        - name: after_id
          x-label: After ID
          in: query
          description: Get transcripts that were created after this transcript ID
          schema:
            $ref: "#/components/schemas/ListTranscriptParams/properties/after_id"

        - name: throttled_only
          x-label: Throttled only
          in: query
          description: Only get throttled transcripts, overrides the status filter
          schema:
            $ref: "#/components/schemas/ListTranscriptParams/properties/throttled_only"
      responses:
        "200":
          description: |
            A list of transcripts. Transcripts are sorted from newest to oldest. The previous URL always points to a page with older transcripts.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TranscriptList"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        "504":
          $ref: "#/components/responses/GatewayTimeout"

  /v2/transcript/{transcript_id}:
    get:
      tags:
        - transcript
      summary: Get transcript
      operationId: getTranscript
      x-fern-sdk-group-name: transcripts
      x-fern-sdk-method-name: get
      x-fern-request-name: GetTranscriptParams
      description: |
        <Note>To retrieve your transcriptions on our EU server, replace `api.assemblyai.com` with `api.eu.assemblyai.com`.</Note>
        Get the transcript resource. The transcript is ready when the "status" is "completed".
      parameters:
        - name: transcript_id
          x-label: Transcript ID
          in: path
          description: ID of the transcript
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The transcript resource
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transcript"
          links:
            GetTranscriptById:
              $ref: "#/components/links/GetTranscriptById"
            GetTranscriptSentencesById:
              $ref: "#/components/links/GetTranscriptSentencesById"
            GetTranscriptParagraphsById:
              $ref: "#/components/links/GetTranscriptParagraphsById"
            GetTranscriptSubtitlesById:
              $ref: "#/components/links/GetTranscriptSubtitlesById"
            GetTranscriptRedactedAudioById:
              $ref: "#/components/links/GetTranscriptRedactedAudioById"
            WordSearchByTranscriptId:
              $ref: "#/components/links/WordSearchByTranscriptId"
            DeleteTranscriptById:
              $ref: "#/components/links/DeleteTranscriptById"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        "504":
          $ref: "#/components/responses/GatewayTimeout"

    delete:
      tags:
        - transcript
      summary: Delete transcript
      description: |
        <Note>To delete your transcriptions on our EU server, replace `api.assemblyai.com` with `api.eu.assemblyai.com`.</Note>
        Remove the data from the transcript and mark it as deleted.
      operationId: deleteTranscript
      x-fern-sdk-group-name: transcripts
      x-fern-sdk-method-name: delete
      parameters:
        - name: transcript_id
          x-label: Transcript ID
          in: path
          description: ID of the transcript
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The deleted transcript response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transcript"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        "504":
          $ref: "#/components/responses/GatewayTimeout"

  /v2/transcript/{transcript_id}/{subtitle_format}:
    get:
      tags:
        - transcript
      summary: Get subtitles for transcript
      description: |
        <Note>To retrieve your transcriptions on our EU server, replace `api.assemblyai.com` with `api.eu.assemblyai.com`.</Note>
        Export your transcript in SRT or VTT format to use with a video player for subtitles and closed captions.
      operationId: getSubtitles
      x-fern-sdk-group-name: transcripts
      x-fern-sdk-method-name: getSubtitles
      x-fern-request-name: GetSubtitlesParams
      parameters:
        - name: transcript_id
          x-label: Transcript ID
          in: path
          description: ID of the transcript
          required: true
          schema:
            type: string
        - name: subtitle_format
          x-label: Subtitle format
          in: path
          description: The format of the captions
          required: true
          schema:
            $ref: "#/components/schemas/SubtitleFormat"
        - name: chars_per_caption
          x-label: Number of characters per caption
          in: query
          description: The maximum number of characters per caption
          schema:
            type: integer

      responses:
        "200":
          description: The exported captions as text
          content:
            text/plain:
              schema:
                type: string
                example: |
                  WEBVTT
                  00:12.340 --> 00:16.220
                  Last year I showed these two slides said that demonstrate
                  00:16.200 --> 00:20.040
                  that the Arctic ice cap which for most of the last 3,000,000 years has been the
                  00:20.020 --> 00:25.040
                  size of the lower 48 States has shrunk by 40% but this understates
              examples:
                srt:
                  $ref: "#/components/examples/SrtSubtitlesResponse"
                vtt:
                  $ref: "#/components/examples/VttSubtitlesResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        "504":
          $ref: "#/components/responses/GatewayTimeout"

  /v2/transcript/{transcript_id}/sentences:
    get:
      tags:
        - transcript
      summary: Get sentences in transcript
      operationId: getTranscriptSentences
      x-fern-sdk-group-name: transcripts
      x-fern-sdk-method-name: getSentences
      x-fern-request-name: GetSentencesParams
      description: |
        <Note>To retrieve your transcriptions on our EU server, replace `api.assemblyai.com` with `api.eu.assemblyai.com`.</Note>
        Get the transcript split by sentences. The API will attempt to semantically segment the transcript into sentences to create more reader-friendly transcripts.
      parameters:
        - name: transcript_id
          x-label: Transcript ID
          in: path
          description: ID of the transcript
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Exported sentences
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SentencesResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        "504":
          $ref: "#/components/responses/GatewayTimeout"

  /v2/transcript/{transcript_id}/paragraphs:
    get:
      tags:
        - transcript
      summary: Get paragraphs in transcript
      operationId: getTranscriptParagraphs
      x-fern-sdk-group-name: transcripts
      x-fern-sdk-method-name: getParagraphs
      x-fern-request-name: GetParagraphsParams
      description: |
        <Note>To retrieve your transcriptions on our EU server, replace `api.assemblyai.com` with `api.eu.assemblyai.com`.</Note>
        Get the transcript split by paragraphs. The API will attempt to semantically segment your transcript into paragraphs to create more reader-friendly transcripts.
      parameters:
        - name: transcript_id
          x-label: Transcript ID
          in: path
          description: ID of the transcript
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Exported paragraphs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ParagraphsResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        "504":
          $ref: "#/components/responses/GatewayTimeout"

  /v2/transcript/{transcript_id}/word-search:
    get:
      tags:
        - transcript
      summary: Search words in transcript
      description: |
        <Note>To search through a transcription created on our EU server, replace `api.assemblyai.com` with `api.eu.assemblyai.com`.</Note>
        Search through the transcript for keywords. You can search for individual words, numbers, or phrases containing up to five words or numbers.
      operationId: wordSearch
      x-fern-sdk-group-name: transcripts
      x-fern-sdk-method-name: wordSearch
      x-fern-request-name: WordSearchParams
      parameters:
        - name: transcript_id
          x-label: Transcript ID
          in: path
          description: ID of the transcript
          required: true
          schema:
            type: string
        - name: words
          x-label: Words
          in: query
          description: Keywords to search for
          required: true
          style: form
          explode: false
          schema:
            type: array
            items:
              x-label: Word
              type: string

      responses:
        "200":
          description: Word search response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WordSearchResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        "504":
          $ref: "#/components/responses/GatewayTimeout"

  /v2/transcript/{transcript_id}/redacted-audio:
    get:
      tags:
        - transcript
      summary: Get redacted audio
      description: |
        <Note>To retrieve your transcriptions on our EU server, replace `api.assemblyai.com` with `api.eu.assemblyai.com`.</Note>
        Retrieve the redacted audio object containing the status and URL to the redacted audio.
      operationId: getRedactedAudio
      x-fern-sdk-group-name: transcripts
      x-fern-sdk-method-name: getRedactedAudio
      x-fern-request-name: GetRedactedAudioParams
      parameters:
        - name: transcript_id
          x-label: Transcript ID
          in: path
          description: ID of the transcript
          required: true
          schema:
            type: string

      responses:
        "200":
          description: The redacted audio object containing the status and URL to the redacted audio
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RedactedAudioResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        "504":
          $ref: "#/components/responses/GatewayTimeout"

  /v2/realtime/token:
    post:
      tags:
        - streaming
      summary: Create temporary authentication token for Streaming STT
      description: |
        <Warning>Streaming Speech-to-Text is currently not available on the EU endpoint.</Warning>
        <Note>Any usage associated with a temporary token will be attributed to the API key that generated it.</Note>
        Create a temporary authentication token for Streaming Speech-to-Text
      operationId: createTemporaryToken
      x-fern-sdk-group-name: realtime
      x-fern-sdk-method-name: createTemporaryToken
      x-fern-request-name: CreateRealtimeTemporaryTokenParams
      requestBody:
        description: Params to create a temporary authentication token
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateRealtimeTemporaryTokenParams"
      responses:
        "200":
          description: Temporary authentication token generated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RealtimeTemporaryTokenResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        "504":
          $ref: "#/components/responses/GatewayTimeout"

  /lemur/v3/generate/task:
    post:
      tags:
        - LeMUR
      summary: Run a task using LeMUR
      description: |
        <Warning>LeMUR is currently not available on the EU endpoint.</Warning>
        Use the LeMUR task endpoint to input your own LLM prompt.
      operationId: lemurTask
      x-fern-sdk-group-name: lemur
      x-fern-sdk-method-name: task
      x-fern-request-name: LemurTaskParams
      requestBody:
        description: Params to run the task
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LemurTaskParams"
      responses:
        "200":
          description: LeMUR task response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LemurTaskResponse"
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum number of allowed requests in a 60 second window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Number of remaining requests in the current time window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Number of seconds until the remaining requests resets to the value of X-RateLimit-Limit.
          links:
            PurgeLemurRequestDataById:
              $ref: "#/components/links/PurgeLemurRequestDataById"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        "504":
          $ref: "#/components/responses/GatewayTimeout"

  /lemur/v3/generate/summary:
    post:
      tags:
        - LeMUR
      summary: Summarize a transcript using LeMUR
      description: |
        <Warning>LeMUR is currently not available on the EU endpoint.</Warning>
        Custom Summary allows you to distill a piece of audio into a few impactful sentences.
        You can give the model context to obtain more targeted results while outputting the results in a variety of formats described in human language.
      operationId: lemurSummary
      x-fern-sdk-group-name: lemur
      x-fern-sdk-method-name: summary
      x-fern-request-name: LemurSummaryParams
      requestBody:
        description: Params to generate the summary
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LemurSummaryParams"
      responses:
        "200":
          description: LeMUR summary response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LemurSummaryResponse"
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum number of allowed requests in a 60 second window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Number of remaining requests in the current time window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Number of seconds until the remaining requests resets to the value of X-RateLimit-Limit.
          links:
            PurgeLemurRequestDataById:
              $ref: "#/components/links/PurgeLemurRequestDataById"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        "504":
          $ref: "#/components/responses/GatewayTimeout"

  /lemur/v3/generate/question-answer:
    post:
      tags:
        - LeMUR
      summary: Ask questions using LeMUR
      description: |
        <Warning>LeMUR is currently not available on the EU endpoint.</Warning>
        Question & Answer allows you to ask free-form questions about a single transcript or a group of transcripts.
        The questions can be any whose answers you find useful, such as judging whether a caller is likely to become a customer or whether all items on a meeting's agenda were covered.
      operationId: lemurQuestionAnswer
      x-fern-sdk-group-name: lemur
      x-fern-sdk-method-name: questionAnswer
      x-fern-request-name: LemurQuestionAnswerParams
      requestBody:
        description: Params to ask questions about the transcripts
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LemurQuestionAnswerParams"
      responses:
        "200":
          description: LeMUR question & answer response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LemurQuestionAnswerResponse"
          headers:
            X-RateLimit-Limit:
              schema:
                type: integer
              description: Maximum number of allowed requests in a 60 second window.
            X-RateLimit-Remaining:
              schema:
                type: integer
              description: Number of remaining requests in the current time window.
            X-RateLimit-Reset:
              schema:
                type: integer
              description: Number of seconds until the remaining requests resets to the value of X-RateLimit-Limit.
          links:
            PurgeLemurRequestDataById:
              $ref: "#/components/links/PurgeLemurRequestDataById"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        "504":
          $ref: "#/components/responses/GatewayTimeout"

  # /lemur/v3/generate/action-items:
  #   post:
  #     tags:
  #       - LeMUR
  #     summary: Extract action items
  #     operationId: lemurActionItems
  #     x-label: Extract action items using LeMUR
  #     x-fern-sdk-group-name: lemur
  #     x-fern-sdk-method-name: actionItems
  #     x-fern-request-name: LemurActionItemsParams
  #     description: Use LeMUR to generate a list of action items from a transcript
  #     requestBody:
  #       description: Params to generate action items from transcripts
  #       required: true
  #       content:
  #         application/json:
  #           schema:
  #             $ref: "#/components/schemas/LemurActionItemsParams"
  #     responses:
  #       "200":
  #         description: LeMUR action items response
  #         content:
  #           application/json:
  #             schema:
  #               $ref: "#/components/schemas/LemurActionItemsResponse"
  #         headers:
  #           X-RateLimit-Limit:
  #             schema:
  #               type: integer
  #             description: Maximum number of allowed requests in a 60 second window.
  #           X-RateLimit-Remaining:
  #             schema:
  #               type: integer
  #             description: Number of remaining requests in the current time window.
  #           X-RateLimit-Reset:
  #             schema:
  #               type: integer
  #             description: Number of seconds until the remaining requests resets to the value of X-RateLimit-Limit.
  #         links:
  #           PurgeLemurRequestDataById:
  #             $ref: "#/components/links/PurgeLemurRequestDataById"
  #       "400":
  #         $ref: "#/components/responses/BadRequest"
  #       "401":
  #         $ref: "#/components/responses/Unauthorized"
  #       "404":
  #         $ref: "#/components/responses/NotFound"
  #       "429":
  #         $ref: "#/components/responses/TooManyRequests"
  #       "500":
  #         $ref: "#/components/responses/InternalServerError"
  #       "503":
  #         $ref: "#/components/responses/ServiceUnavailable"
  #       "504":
  #         $ref: "#/components/responses/GatewayTimeout"

  /lemur/v3/{request_id}:
    get:
      tags:
        - LeMUR
      summary: Retrieve LeMUR response
      description: |
        <Warning>LeMUR is currently not available on the EU endpoint.</Warning>
        Retrieve a LeMUR response that was previously generated.
      operationId: getLemurResponse
      x-fern-sdk-group-name: lemur
      x-fern-sdk-method-name: getResponse
      x-fern-request-name: GetLemurResponseParams
      parameters:
        - name: request_id
          x-label: LeMUR request ID
          in: path
          description: |
            The ID of the LeMUR request you previously made.
            This would be found in the response of the original request.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: LeMUR response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LemurResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        "504":
          $ref: "#/components/responses/GatewayTimeout"
    delete:
      tags:
        - LeMUR
      summary: Purge LeMUR request data
      description: |
        <Warning>LeMUR is currently not available on the EU endpoint.</Warning>
        Delete the data for a previously submitted LeMUR request.
        The LLM response data, as well as any context provided in the original request will be removed.
      operationId: purgeLemurRequestData
      x-fern-sdk-group-name: lemur
      x-fern-sdk-method-name: purgeRequestData
      x-fern-request-name: PurgeLemurRequestDataParams
      parameters:
        - name: request_id
          x-label: LeMUR request ID
          in: path
          description: The ID of the LeMUR request whose data you want to delete. This would be found in the response of the original request.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: LeMUR request data deleted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PurgeLemurRequestDataResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          $ref: "#/components/responses/NotFound"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
        "504":
          $ref: "#/components/responses/GatewayTimeout"

components:
  links:
    GetTranscriptById:
      operationId: getTranscript
      parameters:
        transcript_id: "$response.body#/id"
      description: The transcript ID can be used as the `transcript_id` parameter in `GET /v2/transcript/{transcript_id}`.
    GetTranscriptSentencesById:
      operationId: getSentences
      parameters:
        transcript_id: "$response.body#/id"
      description: The transcript ID can be used as the `transcript_id` parameter in `GET /v2/transcript/{transcript_id}/sentences`.
    GetTranscriptParagraphsById:
      operationId: getParagraphs
      parameters:
        transcript_id: "$response.body#/id"
      description: The transcript ID can be used as the `transcript_id` parameter in `GET /v2/transcript/{transcript_id}/paragraphs`.
    GetTranscriptSubtitlesById:
      operationId: getSubtitles
      parameters:
        transcript_id: "$response.body#/id"
      description: The transcript ID can be used as the `transcript_id` parameter in `GET /v2/transcript/{transcript_id}/{subtitle_format}`.
    GetTranscriptRedactedAudioById:
      operationId: getRedactedAudio
      parameters:
        transcript_id: "$response.body#/id"
      description: The transcript ID can be used as the `transcript_id` parameter in `GET /v2/transcript/{transcript_id}/redacted-audio`.
    WordSearchByTranscriptId:
      operationId: wordSearch
      parameters:
        transcript_id: "$response.body#/id"
      description: The transcript ID can be used as the `transcript_id` parameter in `GET /v2/transcript/{transcript_id}/word-search`.
    DeleteTranscriptById:
      operationId: deleteTranscript
      parameters:
        transcript_id: "$response.body#/id"
      description: The transcript ID can be used as the `transcript_id` parameter in `DELETE /v2/transcript/{transcript_id}`.
    PurgeLemurRequestDataById:
      operationId: purgeLemurRequestData
      parameters:
        request_id: "$response.body#/request_id"
      description: The LeMUR request ID can be used as the `request_id` parameter in `DELETE /lemur/v3/{request_id}`.

  schemas:
    TranscriptWebhookNotification:
      description: The notifications sent to the webhook URL.
      x-label: Transcript webhook notification
      x-fern-sdk-group-name: transcripts
      type: object
      additionalProperties: false
      oneOf:
        - $ref: "#/components/schemas/TranscriptReadyNotification"
        - $ref: "#/components/schemas/RedactedAudioNotification"

    TranscriptReadyNotification:
      description: The notification when the transcript status is completed or error.
      x-label: Transcript ready notification
      x-fern-sdk-group-name: transcripts
      type: object
      additionalProperties: false
      properties:
        transcript_id:
          x-label: Transcript ID
          description: The ID of the transcript
          type: string
          format: uuid
        status:
          x-label: Transcript status
          description: The status of the transcript. Either completed or error.
          $ref: "#/components/schemas/TranscriptReadyStatus"
      required:
        - transcript_id
        - status
      example:
        {
          transcript_id: "9ea68fd3-f953-42c1-9742-976c447fb463",
          status: "completed",
        }

    RedactedAudioNotification:
      description: The notification when the redacted audio is ready.
      x-label: Redacted audio notification
      x-fern-sdk-group-name: transcripts
      type: object
      additionalProperties: false
      allOf:
        - $ref: "#/components/schemas/RedactedAudioResponse"

    RedactedAudioResponse:
      type: object
      additionalProperties: false
      x-label: Redacted audio response
      x-fern-sdk-group-name: transcripts
      required:
        - status
        - redacted_audio_url
      properties:
        status:
          x-label: Status
          description: The status of the redacted audio
          $ref: "#/components/schemas/RedactedAudioStatus"
        redacted_audio_url:
          x-label: Redacted audio URL
          description: The URL of the redacted audio file
          type: string
          format: url
      example:
        {
          redacted_audio_url: "https://s3.us-west-2.amazonaws.com/api.assembly.ai.usw2/redacted-audio/785efd9e-0e20-45e1-967b-3db17770ed9f.wav?AWSAccessKeyId=aws-access-key0id&Signature=signature&x-amz-security-token=security-token&Expires=1698966551",
          status: "redacted_audio_ready",
        }

    RedactedAudioStatus:
      x-label: Redacted audio status
      description: The status of the redacted audio
      x-fern-sdk-group-name: transcripts
      type: string
      enum:
        - redacted_audio_ready
      x-aai-enum:
        redacted_audio_ready:
          label: Redacted audio is ready

    SubtitleFormat:
      x-label: Subtitle format
      description: Format of the subtitles
      x-fern-sdk-group-name: transcripts
      type: string
      enum:
        - srt
        - vtt
      x-aai-enum:
        srt:
          label: SRT
        vtt:
          label: VTT

    WordSearchResponse:
      x-label: Word search response
      type: object
      x-fern-sdk-group-name: transcripts
      additionalProperties: false
      properties:
        id:
          x-label: Transcript ID
          description: The ID of the transcript
          type: string
          format: uuid
        total_count:
          x-label: Total count of matches
          description: The total count of all matched instances. For e.g., word 1 matched 2 times, and word 2 matched 3 times, `total_count` will equal 5.
          type: integer
        matches:
          x-label: Matches
          description: The matches of the search
          type: array
          items:
            x-label: Match
            $ref: "#/components/schemas/WordSearchMatch"
      required:
        - id
        - total_count
        - matches
      example:
        {
          id: "d5a3d302-066e-43fb-b63b-8f57baf185db",
          total_count: 10,
          matches:
            [
              {
                text: "smoke",
                count: 6,
                timestamps:
                  [
                    [250, 650],
                    [49168, 49398],
                    [55284, 55594],
                    [168888, 169118],
                    [215108, 215386],
                    [225944, 226170],
                  ],
                indexes: [0, 136, 156, 486, 652, 698],
              },
              {
                text: "wildfires",
                count: 4,
                timestamps:
                  [
                    [1668, 2346],
                    [33852, 34546],
                    [50118, 51110],
                    [231356, 232354],
                  ],
                indexes: [4, 90, 140, 716],
              },
            ],
        }

    WordSearchMatch:
      type: object
      x-label: Word search match
      x-fern-sdk-group-name: transcripts
      additionalProperties: false
      properties:
        text:
          x-label: Text
          description: The matched word
          type: string
        count:
          x-label: Count
          description: The total amount of times the word is in the transcript
          type: integer
        timestamps:
          x-label: Timestamps
          description: An array of timestamps
          type: array
          items:
            x-label: Timestamp
            $ref: "#/components/schemas/WordSearchTimestamp"
        indexes:
          x-label: Indexes
          description: An array of all index locations for that word within the `words` array of the completed transcript
          type: array
          items:
            x-label: Index
            type: integer
      required:
        - text
        - count
        - timestamps
        - indexes
      example:
        {
          text: "smoke",
          count: 6,
          timestamps:
            [
              [250, 650],
              [49168, 49398],
              [55284, 55594],
              [168888, 169118],
              [215108, 215386],
              [225944, 226170],
            ],
          indexes: [0, 136, 156, 486, 652, 698],
        }

    WordSearchTimestamp:
      x-label: Word search timestamp
      description: An array of timestamps structured as [`start_time`, `end_time`] in milliseconds
      x-fern-sdk-group-name: transcripts
      type: array
      items:
        x-label: Timestamp
        description: Timestamp in milliseconds
        type: integer
      example: [250, 650]

    Timestamp:
      x-label: Timestamp
      description: Timestamp containing a start and end property in milliseconds
      x-fern-sdk-group-name: transcripts
      type: object
      additionalProperties: false
      properties:
        start:
          x-label: Start
          description: The start time in milliseconds
          type: integer
        end:
          x-label: End
          description: The end time in milliseconds
          type: integer
      required:
        - start
        - end
      example: { start: 3978, end: 5114 }

    # This type is used by the Transcriber
    TranscriptOptionalParams:
      x-label: Optional transcript parameters
      description: The parameters for creating a transcript
      x-fern-sdk-group-name: transcripts
      type: object
      additionalProperties: false
      properties:
        language_code:
          x-label: Language code
          description: |
            The language of your audio file. Possible values are found in [Supported Languages](https://www.assemblyai.com/docs/concepts/supported-languages).
            The default value is 'en_us'.
          oneOf:
            - anyOf:
                - $ref: "#/components/schemas/TranscriptLanguageCode"
                - type: string
            - type: "null"
          default: en_us
          x-ts-type: LiteralUnion<TranscriptLanguageCode, string> | null
          x-go-type: TranscriptLanguageCode

        language_detection:
          x-label: Language detection
          description: Enable [Automatic language detection](https://www.assemblyai.com/docs/models/speech-recognition#automatic-language-detection), either true or false.
          type: boolean
          default: false

        language_confidence_threshold:
          x-label: Language confidence threshold
          description: |
            The confidence threshold for the automatically detected language.
            An error will be returned if the language confidence is below this threshold.
            Defaults to 0.
          type: number
          format: float
          minimum: 0
          maximum: 1
          default: 0

        speech_model:
          x-label: Speech model
          description: The speech model to use for the transcription. When `null`, the "best" model is used.
          default: best
          oneOf:
            - $ref: "#/components/schemas/SpeechModel"
            - type: "null"

        punctuate:
          x-label: Punctuate
          description: Enable Automatic Punctuation, can be true or false
          type: boolean
          default: true

        format_text:
          x-label: Format text
          description: Enable Text Formatting, can be true or false
          type: boolean
          default: true

        disfluencies:
          x-label: Disfluencies
          description: Transcribe Filler Words, like "umm", in your media file; can be true or false
          type: boolean
          default: false

        multichannel:
          x-label: Multichannel
          description: Enable [Multichannel](https://www.assemblyai.com/docs/models/speech-recognition#multichannel-transcription) transcription, can be true or false.
          type: boolean
          default: false

        dual_channel:
          x-label: Dual channel
          description: Enable [Dual Channel](https://www.assemblyai.com/docs/models/speech-recognition#dual-channel-transcription) transcription, can be true or false.
          type: boolean
          default: false
          deprecated: true

        webhook_url:
          x-label: Webhook URL
          description: |
            The URL to which we send webhook requests.
            We sends two different types of webhook requests.
            One request when a transcript is completed or failed, and one request when the redacted audio is ready if redact_pii_audio is enabled.
          type: string
          format: url

        webhook_auth_header_name:
          x-label: Webhook auth header name
          description: The header name to be sent with the transcript completed or failed webhook requests
          type: [string, "null"]
          default: null

        webhook_auth_header_value:
          x-label: Webhook auth header value
          description: The header value to send back with the transcript completed or failed webhook requests for added security
          type: [string, "null"]
          default: null

        auto_highlights:
          x-label: Key phrases
          description: Enable Key Phrases, either true or false
          type: boolean
          default: false

        audio_start_from:
          x-label: Audio start from
          description: The point in time, in milliseconds, to begin transcribing in your media file
          type: integer

        audio_end_at:
          x-label: Audio end at
          description: The point in time, in milliseconds, to stop transcribing in your media file
          type: integer

        word_boost:
          x-label: Word boost
          description: The list of custom vocabulary to boost transcription probability for
          type: array
          items:
            x-label: Word to boost
            type: string

        boost_param:
          x-label: Word boost level
          description: How much to boost specified words
          default: default
          $ref: "#/components/schemas/TranscriptBoostParam"

        filter_profanity:
          x-label: Filter profanity
          description: Filter profanity from the transcribed text, can be true or false
          type: boolean
          default: false

        redact_pii:
          x-label: Redact PII
          description: Redact PII from the transcribed text using the Redact PII model, can be true or false
          type: boolean
          default: false

        redact_pii_audio:
          x-label: Redact PII audio
          description: Generate a copy of the original media file with spoken PII "beeped" out, can be true or false. See [PII redaction](https://www.assemblyai.com/docs/models/pii-redaction) for more details.
          type: boolean
          default: false

        redact_pii_audio_quality:
          x-label: Redact PII audio quality
          description: Controls the filetype of the audio created by redact_pii_audio. Currently supports mp3 (default) and wav. See [PII redaction](https://www.assemblyai.com/docs/models/pii-redaction) for more details.
          default: mp3
          $ref: "#/components/schemas/RedactPiiAudioQuality"

        redact_pii_policies:
          x-label: Redact PII policies
          description: The list of PII Redaction policies to enable. See [PII redaction](https://www.assemblyai.com/docs/models/pii-redaction) for more details.
          type: array
          items:
            x-label: PII policy
            $ref: "#/components/schemas/PiiPolicy"

        redact_pii_sub:
          x-label: Redact PII substitution
          description: The replacement logic for detected PII, can be "entity_type" or "hash". See [PII redaction](https://www.assemblyai.com/docs/models/pii-redaction) for more details.
          oneOf:
            - $ref: "#/components/schemas/SubstitutionPolicy"
            - type: "null"
          default: hash

        speaker_labels:
          x-label: Speaker labels
          description: Enable [Speaker diarization](https://www.assemblyai.com/docs/models/speaker-diarization), can be true or false
          type: boolean
          default: false

        speakers_expected:
          x-label: Speakers expected
          description: Tells the speaker label model how many speakers it should attempt to identify, up to 10. See [Speaker diarization](https://www.assemblyai.com/docs/models/speaker-diarization) for more details.
          type: [integer, "null"]
          default: null

        content_safety:
          x-label: Content Moderation
          description: Enable [Content Moderation](https://www.assemblyai.com/docs/models/content-moderation), can be true or false
          type: boolean
          default: false

        content_safety_confidence:
          x-label: Content Moderation confidence
          description: The confidence threshold for the Content Moderation model. Values must be between 25 and 100.
          type: integer
          default: 50
          minimum: 25
          maximum: 100

        iab_categories:
          x-label: Topic Detection
          description: Enable [Topic Detection](https://www.assemblyai.com/docs/models/topic-detection), can be true or false
          type: boolean
          default: false

        custom_spelling:
          x-label: Custom spellings
          description: Customize how words are spelled and formatted using to and from values
          type: array
          items:
            x-label: Custom spelling
            $ref: "#/components/schemas/TranscriptCustomSpelling"

        sentiment_analysis:
          x-label: Sentiment Analysis
          description: Enable [Sentiment Analysis](https://www.assemblyai.com/docs/models/sentiment-analysis), can be true or false
          type: boolean
          default: false

        auto_chapters:
          x-label: Auto chapters
          description: Enable [Auto Chapters](https://www.assemblyai.com/docs/models/auto-chapters), can be true or false
          type: boolean
          default: false

        entity_detection:
          x-label: Entity Detection
          description: Enable [Entity Detection](https://www.assemblyai.com/docs/models/entity-detection), can be true or false
          type: boolean
          default: false

        speech_threshold:
          x-label: Speech threshold
          description: |
            Reject audio files that contain less than this fraction of speech.
            Valid values are in the range [0, 1] inclusive.
          type: [number, "null"]
          format: float
          minimum: 0
          maximum: 1
          default: 0

        summarization:
          x-label: Enable Summarization
          description: Enable [Summarization](https://www.assemblyai.com/docs/models/summarization), can be true or false
          type: boolean
          default: false

        summary_model:
          x-label: Summary model
          description: The model to summarize the transcript
          default: informative
          $ref: "#/components/schemas/SummaryModel"

        summary_type:
          x-label: Summary type
          description: The type of summary
          default: bullets
          $ref: "#/components/schemas/SummaryType"

        custom_topics:
          x-label: Enable custom topics
          description: Enable custom topics, either true or false
          type: boolean
          default: false
          deprecated: true

        topics:
          x-label: Custom topics
          description: The list of custom topics
          type: array
          items:
            x-label: Topic
            type: string
      example:
        {
          speech_model: null,
          language_code: "en_us",
          language_detection: true,
          language_confidence_threshold: 0.7,
          punctuate: true,
          format_text: true,
          multichannel: true,
          dual_channel: false,
          webhook_url: "https://your-webhook-url.tld/path",
          webhook_auth_header_name: "webhook-secret",
          webhook_auth_header_value: "webhook-secret-value",
          auto_highlights: true,
          audio_start_from: 10,
          audio_end_at: 280,
          word_boost: ["aws", "azure", "google cloud"],
          boost_param: "high",
          filter_profanity: true,
          redact_pii: true,
          redact_pii_audio: true,
          redact_pii_audio_quality: "mp3",
          redact_pii_policies:
            ["us_social_security_number", "credit_card_number"],
          redact_pii_sub: "hash",
          speaker_labels: true,
          speakers_expected: 2,
          content_safety: true,
          iab_categories: true,
          custom_spelling: [],
          disfluencies: false,
          sentiment_analysis: true,
          auto_chapters: true,
          entity_detection: true,
          speech_threshold: 0.5,
          summarization: true,
          summary_model: "informative",
          summary_type: "bullets",
          custom_topics: true,
          topics: [],
        }

    TranscriptParams:
      x-label: Transcript parameters
      description: The parameters for creating a transcript
      x-fern-sdk-group-name: transcripts
      type: object
      additionalProperties: false
      allOf:
        - type: object
          required: [audio_url]
          properties:
            audio_url:
              x-label: Audio URL
              description: The URL of the audio or video file to transcribe.
              type: string
              format: url
          additionalProperties: false
        - $ref: "#/components/schemas/TranscriptOptionalParams"
      example:
        {
          speech_model: null,
          language_code: "en_us",
          language_detection: true,
          language_confidence_threshold: 0.7,
          audio_url: "https://assembly.ai/wildfires.mp3",
          punctuate: true,
          format_text: true,
          multichannel: true,
          dual_channel: false,
          webhook_url: "https://your-webhook-url/path",
          webhook_auth_header_name: "webhook-secret",
          webhook_auth_header_value: "webhook-secret-value",
          auto_highlights: true,
          audio_start_from: 10,
          audio_end_at: 280,
          word_boost: ["aws", "azure", "google cloud"],
          boost_param: "high",
          filter_profanity: true,
          redact_pii: true,
          redact_pii_audio: true,
          redact_pii_audio_quality: "mp3",
          redact_pii_policies:
            ["us_social_security_number", "credit_card_number"],
          redact_pii_sub: "hash",
          speaker_labels: true,
          speakers_expected: 2,
          content_safety: true,
          iab_categories: true,
          custom_spelling: [],
          disfluencies: false,
          sentiment_analysis: true,
          auto_chapters: true,
          entity_detection: true,
          speech_threshold: 0.5,
          summarization: true,
          summary_model: "informative",
          summary_type: "bullets",
          custom_topics: true,
          topics: [],
        }

    SummaryModel:
      type: string
      x-label: Summary model
      description: The model to summarize the transcript
      x-fern-sdk-group-name: transcripts
      enum:
        - informative
        - conversational
        - catchy
      x-aai-enum:
        informative:
          label: Informative
        conversational:
          label: Conversational
        catchy:
          label: Catchy

    SummaryType:
      type: string
      x-label: Summary type
      description: The type of summary
      x-fern-sdk-group-name: transcripts
      enum:
        - bullets
        - bullets_verbose
        - gist
        - headline
        - paragraph
      x-aai-enum:
        bullets:
          label: Bullets
        bullets_verbose:
          label: Bullets verbose
        gist:
          label: Gist
        headline:
          label: Headline
        paragraph:
          label: Paragraph

    TranscriptBoostParam:
      type: string
      x-label: Word boost level
      description: How much to boost specified words
      x-fern-sdk-group-name: transcripts
      enum:
        - low
        - default
        - high
      x-aai-enum:
        low:
          label: Low
        default:
          label: Default
        high:
          label: High

    TranscriptCustomSpelling:
      x-label: Custom spelling
      description: Object containing words or phrases to replace, and the word or phrase to replace with
      x-fern-sdk-group-name: transcripts
      type: object
      additionalProperties: false
      properties:
        from:
          x-label: From
          description: Words or phrases to replace
          type: array
          items:
            x-label: Word or phrase
            description: Word or phrase to replace
            type: string
        to:
          x-label: To
          description: Word or phrase to replace with
          type: string
      required: [from, to]
      example: { from: ["dicarlo"], to: "Decarlo" }

    TranscriptUtterance:
      type: object
      x-label: Utterance
      x-fern-sdk-group-name: transcripts
      additionalProperties: false
      properties:
        confidence:
          x-label: Confidence
          description: The confidence score for the transcript of this utterance
          type: number
          format: double
          minimum: 0
          maximum: 1
        start:
          x-label: Start
          description: The starting time, in milliseconds, of the utterance in the audio file
          type: integer
        end:
          x-label: End
          description: The ending time, in milliseconds, of the utterance in the audio file
          type: integer
        text:
          x-label: Text
          description: The text for this utterance
          type: string
        words:
          x-label: Words
          description: The words in the utterance.
          type: array
          items:
            x-label: Word
            $ref: "#/components/schemas/TranscriptWord"
        channel:
          x-label: Channel
          description: The channel of this utterance. The left and right channels are channels 1 and 2. Additional channels increment the channel number sequentially.
          type: [string, "null"]
        speaker:
          x-label: Speaker
          description: The speaker of this utterance, where each speaker is assigned a sequential capital letter - e.g. "A" for Speaker A, "B" for Speaker B, etc.
          type: string
      required:
        - confidence
        - start
        - end
        - text
        - words
        - speaker
      example:
        {
          confidence: 0.9359033333333334,
          end: 26950,
          speaker: "A",
          start: 250,
          text: "Smoke from hundreds of wildfires in Canada is triggering air quality alerts throughout the US. Skylines from Maine to Maryland to Minnesota are gray and smoggy. And in some places, the air quality warnings include the warning to stay inside. We wanted to better understand what's happening here and why, so we called Peter de Carlo, an associate professor in the Department of Environmental Health and Engineering at Johns Hopkins University Varsity. Good morning, professor.",
          words:
            [
              {
                text: "Smoke",
                start: 250,
                end: 650,
                confidence: 0.97503,
                speaker: "A",
              },
              {
                text: "from",
                start: 730,
                end: 1022,
                confidence: 0.99999,
                speaker: "A",
              },
              {
                text: "hundreds",
                start: 1076,
                end: 1418,
                confidence: 0.99843,
                speaker: "A",
              },
              {
                text: "of",
                start: 1434,
                end: 1614,
                confidence: 0.85,
                speaker: "A",
              },
              {
                text: "wildfires",
                start: 1652,
                end: 2346,
                confidence: 0.89657,
                speaker: "A",
              },
              {
                text: "in",
                start: 2378,
                end: 2526,
                confidence: 0.99994,
                speaker: "A",
              },
              {
                text: "Canada",
                start: 2548,
                end: 3130,
                confidence: 0.93864,
                speaker: "A",
              },
              {
                text: "is",
                start: 3210,
                end: 3454,
                confidence: 0.999,
                speaker: "A",
              },
              {
                text: "triggering",
                start: 3492,
                end: 3946,
                confidence: 0.75366,
                speaker: "A",
              },
              {
                text: "air",
                start: 3978,
                end: 4174,
                confidence: 1.0,
                speaker: "A",
              },
              {
                text: "quality",
                start: 4212,
                end: 4558,
                confidence: 0.87745,
                speaker: "A",
              },
              {
                text: "alerts",
                start: 4644,
                end: 5114,
                confidence: 0.94739,
                speaker: "A",
              },
              {
                text: "throughout",
                start: 5162,
                end: 5466,
                confidence: 0.99726,
                speaker: "A",
              },
              {
                text: "the",
                start: 5498,
                end: 5694,
                confidence: 0.79,
                speaker: "A",
              },
              {
                text: "US.",
                start: 5732,
                end: 6382,
                confidence: 0.88,
                speaker: "A",
              },
            ],
        }

    SubstitutionPolicy:
      x-label: Redact PII substitution
      type: string
      x-fern-sdk-group-name: transcripts
      description: The replacement logic for detected PII, can be "entity_name" or "hash". See [PII redaction](https://www.assemblyai.com/docs/models/pii-redaction) for more details.
      enum:
        - entity_name
        - hash
      x-aai-enum:
        entity_name:
          label: Entity name
        hash:
          label: Hash

    RedactPiiAudioQuality:
      x-label: Redact PII audio quality
      type: string
      description: Controls the filetype of the audio created by redact_pii_audio. Currently supports mp3 (default) and wav. See [PII redaction](https://www.assemblyai.com/docs/models/pii-redaction) for more details.
      x-fern-sdk-group-name: transcripts
      enum:
        - mp3
        - wav
      x-fern-enum:
        mp3:
          description: MP3 audio format is lower quality and lower size than WAV.
          casing:
            camel: mp3
            snake: mp3
            pascal: Mp3
            screamingSnake: MP3
        wav:
          description: WAV audio format is the highest quality (no compression) and larger size than MP3.
      x-aai-enum:
        mp3:
          label: MP3
        wav:
          label: WAV
      example: "mp3"

    PiiPolicy:
      x-label: PII policy
      description: The type of PII to redact
      x-fern-sdk-group-name: transcripts
      type: string
      enum:
        - account_number
        - banking_information
        - blood_type
        - credit_card_cvv
        - credit_card_expiration
        - credit_card_number
        - date
        - date_interval
        - date_of_birth
        - drivers_license
        - drug
        - duration
        - email_address
        - event
        - filename
        - gender_sexuality
        - healthcare_number
        - injury
        - ip_address
        - language
        - location
        - marital_status
        - medical_condition
        - medical_process
        - money_amount
        - nationality
        - number_sequence
        - occupation
        - organization
        - passport_number
        - password
        - person_age
        - person_name
        - phone_number
        - physical_attribute
        - political_affiliation
        - religion
        - statistics
        - time
        - url
        - us_social_security_number
        - username
        - vehicle_id
        - zodiac_sign
      x-fern-enum:
        account_number:
          description:
            "Customer account or membership identification number (e.g., Policy
            No. 10042992, Member ID: HZ-5235-001)"
        banking_information:
          description: Banking information, including account and routing numbers
        blood_type:
          description: Blood type (e.g., O-, AB positive)
        credit_card_cvv:
          description: "Credit card verification code (e.g., CVV: 080)"
        credit_card_expiration:
          description: Expiration date of a credit card
        credit_card_number:
          description: Credit card number
        date:
          description: Specific calendar date (e.g., December 18)
        date_interval:
          description:
            Broader time periods, including date ranges, months, seasons, years,
            and decades (e.g., 2020-2021, 5-9 May, January 1984)
        date_of_birth:
          description: "Date of birth (e.g., Date of Birth: March 7,1961)"
        drivers_license:
          description: Driver's license number. (e.g., DL# 356933-540)
        drug:
          description:
            Medications, vitamins, or supplements (e.g., Advil, Acetaminophen,
            Panadol)
        duration:
          description:
            Periods of time, specified as a number and a unit of time (e.g.,
            8 months, 2 years)
        email_address:
          description: Email address (e.g., support@assemblyai.com)
        event:
          description: Name of an event or holiday (e.g., Olympics, Yom Kippur)
        filename:
          description:
            Names of computer files, including the extension or filepath (e.g.,
            Taxes/2012/brad-tax-returns.pdf)
        gender_sexuality:
          description:
            Terms indicating gender identity or sexual orientation, including
            slang terms (e.g., female, bisexual, trans)
        healthcare_number:
          description:
            "Healthcare numbers and health plan beneficiary numbers (e.g.,
            Policy No.: 5584-486-674-YM)"
        injury:
          description: Bodily injury (e.g., I broke my arm, I have a sprained wrist)
        ip_address:
          description: Internet IP address, including IPv4 and IPv6 formats (e.g., 192.168.0.1)
        language:
          description: Name of a natural language (e.g., Spanish, French)
        location:
          description:
            Any Location reference including mailing address, postal code,
            city, state, province, country, or coordinates. (e.g., Lake Victoria, 145
            Windsor St., 90210)
        marital_status:
          description:
            Terms indicating marital status (e.g., Single, common-law, ex-wife,
            married)
        medical_condition:
          description:
            Name of a medical condition, disease, syndrome, deficit, or disorder
            (e.g., chronic fatigue syndrome, arrhythmia, depression)
        medical_process:
          description:
            Medical process, including treatments, procedures, and tests (e.g.,
            heart surgery, CT scan)
        money_amount:
          description: Name and/or amount of currency (e.g., 15 pesos, $94.50)
        nationality:
          description:
            Terms indicating nationality, ethnicity, or race (e.g., American,
            Asian, Caucasian)
        number_sequence:
          description:
            Numerical PII (including alphanumeric strings) that doesn't fall
            under other categories
        occupation:
          description: Job title or profession (e.g., professor, actors, engineer, CPA)
        organization:
          description:
            Name of an organization (e.g., CNN, McDonalds, University of Alaska,
            Northwest General Hospital)
        passport_number:
          description: Passport numbers, issued by any country (e.g., PA4568332, NU3C6L86S12)
        password:
          description:
            Account passwords, PINs, access keys, or verification answers (e.g.,
            27%alfalfa, temp1234, My mother's maiden name is Smith)
        person_age:
          description: Number associated with an age (e.g., 27, 75)
        person_name:
          description: Name of a person (e.g., Bob, Doug Jones, Dr. Kay Martinez, MD)
        phone_number:
          description: Telephone or fax number
        physical_attribute:
          description:
            Distinctive bodily attributes, including terms indicating race
            (e.g., I'm 190cm tall, He belongs to the Black students' association)
        political_affiliation:
          description:
            Terms referring to a political party, movement, or ideology (e.g.,
            Republican, Liberal)
        religion:
          description: Terms indicating religious affiliation (e.g., Hindu, Catholic)
        statistics:
          description: Medical statistics (e.g., 18%, 18 percent)
        time:
          description: Expressions indicating clock times (e.g., 19:37:28, 10pm EST)
        url:
          description: Internet addresses (e.g., https://www.assemblyai.com/)
        us_social_security_number:
          description: Social Security Number or equivalent
        username:
          description: Usernames, login names, or handles (e.g., @AssemblyAI)
        vehicle_id:
          description:
            Vehicle identification numbers (VINs), vehicle serial numbers,
            and license plate numbers (e.g., 5FNRL38918B111818, BIF7547)
        zodiac_sign:
          description: Names of Zodiac signs (e.g., Aries, Taurus)
      x-aai-enum:
        account_number:
          label: Account number
        banking_information:
          label: Banking information
        blood_type:
          label: Blood type
        credit_card_cvv:
          label: Credit card CVV
        credit_card_expiration:
          label: Credit card expiration
        credit_card_number:
          label: Credit card number
        date:
          label: Date
        date_interval:
          label: Date interval
        date_of_birth:
          label: Date of birth
        drivers_license:
          label: Driver's license
        drug:
          label: Drug
        duration:
          label: Duration
        email_address:
          label: Email address
        event:
          label: Event
        filename:
          label: Filename
        gender_sexuality:
          label: Gender sexuality
        healthcare_number:
          label: Healthcare number
        injury:
          label: Injury
        ip_address:
          label: IP address
        language:
          label: Language
        location:
          label: Location
        marital_status:
          label: Marital status
        medical_condition:
          label: Medical condition
        medical_process:
          label: Medical process
        money_amount:
          label: Money amount
        nationality:
          label: Nationality
        number_sequence:
          label: Number sequence
        occupation:
          label: Occupation
        organization:
          label: Organization
        passport_number:
          label: Passport number
        password:
          label: Password
        person_age:
          label: Person age
        person_name:
          label: Person name
        phone_number:
          label: Phone number
        physical_attribute:
          label: Physical attribute
        political_affiliation:
          label: Political affiliation
        religion:
          label: Religion
        statistics:
          label: Statistics
        time:
          label: Time
        url:
          label: URL
        us_social_security_number:
          label: US Social Security Number
        username:
          label: Username
        vehicle_id:
          label: Vehicle ID
        zodiac_sign:
          label: Zodiac sign

    SpeechModel:
      x-label: Speech model
      type: string
      description: The speech model to use for the transcription.
      x-fern-sdk-group-name: transcripts
      enum:
        - best
        - nano
      x-fern-enum:
        best:
          name: Best
          description: The best model optimized for accuracy.
        nano:
          name: Nano
          description: A lightweight, lower cost model for a wide range of languages.
      x-aai-enum:
        best:
          label: Best
        nano:
          label: Nano

    TranscriptLanguageCode:
      x-label: Language code
      type: string
      description: |
        The language of your audio file. Possible values are found in [Supported Languages](https://www.assemblyai.com/docs/concepts/supported-languages).
        The default value is 'en_us'.
      x-fern-sdk-group-name: transcripts
      enum:
        - en
        - en_au
        - en_uk
        - en_us
        - es
        - fr
        - de
        - it
        - pt
        - nl
        - af
        - sq
        - am
        - ar
        - hy
        - as
        - az
        - ba
        - eu
        - be
        - bn
        - bs
        - br
        - bg
        - my
        - ca
        - zh
        - hr
        - cs
        - da
        - et
        - fo
        - fi
        - gl
        - ka
        - el
        - gu
        - ht
        - ha
        - haw
        - he
        - hi
        - hu
        - is
        - id
        - ja
        - jw
        - kn
        - kk
        - km
        - ko
        - lo
        - la
        - lv
        - ln
        - lt
        - lb
        - mk
        - mg
        - ms
        - ml
        - mt
        - mi
        - mr
        - mn
        - ne
        - no
        - nn
        - oc
        - pa
        - ps
        - fa
        - pl
        - ro
        - ru
        - sa
        - sr
        - sn
        - sd
        - si
        - sk
        - sl
        - so
        - su
        - sw
        - sv
        - tl
        - tg
        - ta
        - tt
        - te
        - th
        - bo
        - tr
        - tk
        - uk
        - ur
        - uz
        - vi
        - cy
        - yi
        - yo
      x-aai-enum:
        en:
          label: English (global)
        en_au:
          label: English (Australian)
        en_uk:
          label: English (British)
        en_us:
          label: English (US)
        es:
          label: Spanish
        fr:
          label: French
        de:
          label: German
        it:
          label: Italian
        pt:
          label: Portuguese
        nl:
          label: Dutch
        af:
          label: Afrikaans
        sq:
          label: Albanian
        am:
          label: Amharic
        ar:
          label: Arabic
        hy:
          label: Armenian
        as:
          label: Assamese
        az:
          label: Azerbaijani
        ba:
          label: Bashkir
        eu:
          label: Basque
        be:
          label: Belarusian
        bn:
          label: Bengali
        bs:
          label: Bosnian
        br:
          label: Breton
        bg:
          label: Bulgarian
        my:
          label: Burmese
        ca:
          label: Catalan
        zh:
          label: Chinese
        hr:
          label: Croatian
        cs:
          label: Czech
        da:
          label: Danish
        et:
          label: Estonian
        fo:
          label: Faroese
        fi:
          label: Finnish
        gl:
          label: Galician
        ka:
          label: Georgian
        el:
          label: Greek
        gu:
          label: Gujarati
        ht:
          label: Haitian
        ha:
          label: Hausa
        haw:
          label: Hawaiian
        he:
          label: Hebrew
        hi:
          label: Hindi
        hu:
          label: Hungarian
        is:
          label: Icelandic
        id:
          label: Indonesian
        ja:
          label: Japanese
        jw:
          label: Javanese
        kn:
          label: Kannada
        kk:
          label: Kazakh
        km:
          label: Khmer
        ko:
          label: Korean
        lo:
          label: Lao
        la:
          label: Latin
        lv:
          label: Latvian
        ln:
          label: Lingala
        lt:
          label: Lithuanian
        lb:
          label: Luxembourgish
        mk:
          label: Macedonian
        mg:
          label: Malagasy
        ms:
          label: Malay
        ml:
          label: Malayalam
        mt:
          label: Maltese
        mi:
          label: Maori
        mr:
          label: Marathi
        mn:
          label: Mongolian
        ne:
          label: Nepali
        no:
          label: Norwegian
        nn:
          label: Norwegian Nynorsk
        oc:
          label: Occitan
        pa:
          label: Panjabi
        ps:
          label: Pashto
        fa:
          label: Persian
        pl:
          label: Polish
        ro:
          label: Romanian
        ru:
          label: Russian
        sa:
          label: Sanskrit
        sr:
          label: Serbian
        sn:
          label: Shona
        sd:
          label: Sindhi
        si:
          label: Sinhala
        sk:
          label: Slovak
        sl:
          label: Slovenian
        so:
          label: Somali
        su:
          label: Sundanese
        sw:
          label: Swahili
        sv:
          label: Swedish
        tl:
          label: Tagalog
        tg:
          label: Tajik
        ta:
          label: Tamil
        tt:
          label: Tatar
        te:
          label: Telugu
        th:
          label: Thai
        bo:
          label: Tibetan
        tr:
          label: Turkish
        tk:
          label: Turkmen
        uk:
          label: Ukrainian
        ur:
          label: Urdu
        uz:
          label: Uzbek
        vi:
          label: Vietnamese
        cy:
          label: Welsh
        yi:
          label: Yiddish
        yo:
          label: Yoruba

    TranscriptStatus:
      x-label: Status
      type: string
      description: The status of your transcript. Possible values are queued, processing, completed, or error.
      x-fern-sdk-group-name: transcripts
      enum:
        - queued
        - processing
        - completed
        - error
      x-fern-enum:
        queued:
          description: The audio file is in the queue to be processed by the API.
        processing:
          description: The audio file is being processed by the API.
        completed:
          description: The transcript job has been completed successfully.
        error:
          description: An error occurred while processing the audio file.
      x-aai-enum:
        queued:
          label: Queued
        processing:
          label: Processing
        completed:
          label: Completed
        error:
          label: Error

    TranscriptReadyStatus:
      x-label: Status
      type: string
      description: The status of the transcript. Either completed or error.
      x-fern-sdk-group-name: transcripts
      enum:
        - completed
        - error
      x-fern-enum:
        completed:
          description: The transcript job has been completed successfully.
        error:
          description: An error occurred while processing the audio file.
      x-aai-enum:
        completed:
          label: Completed
        error:
          label: Error

    Transcript:
      x-label: Transcript
      description: A transcript object
      type: object
      x-fern-sdk-group-name: transcripts
      additionalProperties: false
      properties:
        id:
          x-label: ID
          description: The unique identifier of your transcript
          type: string
          format: uuid

        audio_url:
          x-label: Audio URL
          description: The URL of the media that was transcribed
          type: string
          format: url

        status:
          x-label: Status
          description: The status of your transcript. Possible values are queued, processing, completed, or error.
          $ref: "#/components/schemas/TranscriptStatus"

        language_code:
          x-label: Language code
          description: |
            The language of your audio file.
            Possible values are found in [Supported Languages](https://www.assemblyai.com/docs/concepts/supported-languages).
            The default value is 'en_us'.
          anyOf:
            - $ref: "#/components/schemas/TranscriptLanguageCode"
            - type: string
          x-ts-type: LiteralUnion<TranscriptLanguageCode, string>
          x-go-type: TranscriptLanguageCode

        language_detection:
          x-label: Language detection
          description: Whether [Automatic language detection](https://www.assemblyai.com/docs/models/speech-recognition#automatic-language-detection) is enabled, either true or false
          type: [boolean, "null"]

        language_confidence_threshold:
          x-label: Language confidence threshold
          description: |
            The confidence threshold for the automatically detected language.
            An error will be returned if the language confidence is below this threshold.
          type: [number, "null"]
          format: float
          minimum: 0
          maximum: 1

        language_confidence:
          x-label: Language confidence
          description: The confidence score for the detected language, between 0.0 (low confidence) and 1.0 (high confidence)
          type: [number, "null"]
          format: double
          minimum: 0
          maximum: 1

        speech_model:
          x-label: Speech model
          description: The speech model used for the transcription. When `null`, the default model is used.
          default: null
          oneOf:
            - $ref: "#/components/schemas/SpeechModel"
            - type: "null"

        text:
          x-label: Text
          description: The textual transcript of your media file
          type: [string, "null"]

        words:
          x-label: Words
          description: |
            An array of temporally-sequential word objects, one for each word in the transcript.
            See [Speech recognition](https://www.assemblyai.com/docs/models/speech-recognition) for more information.
          type: [array, "null"]
          items:
            x-label: Word
            $ref: "#/components/schemas/TranscriptWord"

        utterances:
          x-label: Utterances
          description: |
            When multichannel or speaker_labels is enabled, a list of turn-by-turn utterance objects.
            See [Speaker diarization](https://www.assemblyai.com/docs/speech-to-text/speaker-diarization) and [Multichannel transcription](https://www.assemblyai.com/docs/speech-to-text/speech-recognition#multichannel-transcription) for more information.
          type: [array, "null"]
          items:
            x-label: Utterance
            $ref: "#/components/schemas/TranscriptUtterance"

        confidence:
          x-label: Confidence
          description: The confidence score for the transcript, between 0.0 (low confidence) and 1.0 (high confidence)
          type: [number, "null"]
          format: double
          minimum: 0
          maximum: 1

        audio_duration:
          x-label: Audio duration
          description: The duration of this transcript object's media file, in seconds
          type: [integer, "null"]

        punctuate:
          x-label: Punctuate
          description: Whether Automatic Punctuation is enabled, either true or false
          type: [boolean, "null"]

        format_text:
          x-label: Format text
          description: Whether Text Formatting is enabled, either true or false
          type: [boolean, "null"]

        disfluencies:
          x-label: Disfluencies
          description: Transcribe Filler Words, like "umm", in your media file; can be true or false
          type: [boolean, "null"]

        multichannel:
          x-label: Multichannel
          description: Whether [Multichannel transcription](https://www.assemblyai.com/docs/models/speech-recognition#multichannel-transcription) was enabled in the transcription request, either true or false
          type: [boolean, "null"]

        audio_channels:
          x-label: Audio channels
          description: The number of audio channels in the audio file. This is only present when multichannel is enabled.
          type: integer

        dual_channel:
          x-label: Dual channel
          description: Whether [Dual channel transcription](https://www.assemblyai.com/docs/models/speech-recognition#dual-channel-transcription) was enabled in the transcription request, either true or false
          type: [boolean, "null"]
          deprecated: true

        webhook_url:
          x-label: Webhook URL
          description: |
            The URL to which we send webhook requests.
            We sends two different types of webhook requests.
            One request when a transcript is completed or failed, and one request when the redacted audio is ready if redact_pii_audio is enabled.
          type: [string, "null"]
          format: url

        webhook_status_code:
          x-label: Webhook HTTP status code
          description: The status code we received from your server when delivering the transcript completed or failed webhook request, if a webhook URL was provided
          type: [integer, "null"]

        webhook_auth:
          x-label: Webhook auth enabled
          description: Whether webhook authentication details were provided
          type: boolean

        webhook_auth_header_name:
          x-label: Webhook auth header name
          description: The header name to be sent with the transcript completed or failed webhook requests
          type: [string, "null"]

        speed_boost:
          x-label: Speed boost
          description: Whether speed boost is enabled
          type: [boolean, "null"]
          deprecated: true

        auto_highlights:
          x-label: Key Phrases
          description: Whether Key Phrases is enabled, either true or false
          type: boolean

        auto_highlights_result:
          x-label: Key Phrases result
          description: |
            An array of results for the Key Phrases model, if it is enabled.
            See [Key Phrases](https://www.assemblyai.com/docs/models/key-phrases) for more information.
          oneOf:
            - $ref: "#/components/schemas/AutoHighlightsResult"
            - type: "null"

        audio_start_from:
          x-label: Audio start from
          description: The point in time, in milliseconds, in the file at which the transcription was started
          type: [integer, "null"]

        audio_end_at:
          x-label: Audio end at
          description: The point in time, in milliseconds, in the file at which the transcription was terminated
          type: [integer, "null"]

        word_boost:
          x-label: Word boost
          description: The list of custom vocabulary to boost transcription probability for
          type: array
          items:
            x-label: Boosted word
            type: string

        boost_param:
          x-label: Boost
          description: The word boost parameter value
          type: [string, "null"]

        filter_profanity:
          x-label: Filter profanity
          description: Whether [Profanity Filtering](https://www.assemblyai.com/docs/models/speech-recognition#profanity-filtering) is enabled, either true or false
          type: [boolean, "null"]

        redact_pii:
          x-label: Redact PII
          description: Whether [PII Redaction](https://www.assemblyai.com/docs/models/pii-redaction) is enabled, either true or false
          type: boolean

        redact_pii_audio:
          x-label: Redact PII audio
          description: |
            Whether a redacted version of the audio file was generated,
            either true or false. See [PII redaction](https://www.assemblyai.com/docs/models/pii-redaction) for more information.
          type: [boolean, "null"]

        redact_pii_audio_quality:
          x-label: Redact PII audio quality
          description: |
            The audio quality of the PII-redacted audio file, if redact_pii_audio is enabled.
            See [PII redaction](https://www.assemblyai.com/docs/models/pii-redaction) for more information.
          oneOf:
            - $ref: "#/components/schemas/RedactPiiAudioQuality"
            - type: "null"

        redact_pii_policies:
          x-label: Redact PII policies
          description: |
            The list of PII Redaction policies that were enabled, if PII Redaction is enabled.
            See [PII redaction](https://www.assemblyai.com/docs/models/pii-redaction) for more information.
          type: [array, "null"]
          items:
            x-label: PII policy
            $ref: "#/components/schemas/PiiPolicy"

        redact_pii_sub:
          x-label: Redact PII substitution
          description: The replacement logic for detected PII, can be "entity_type" or "hash". See [PII redaction](https://www.assemblyai.com/docs/models/pii-redaction) for more details.
          $ref: "#/components/schemas/SubstitutionPolicy"

        speaker_labels:
          x-label: Speaker labels
          description: Whether [Speaker diarization](https://www.assemblyai.com/docs/models/speaker-diarization) is enabled, can be true or false
          type: [boolean, "null"]

        speakers_expected:
          x-label: Speakers expected
          description: Tell the speaker label model how many speakers it should attempt to identify, up to 10. See [Speaker diarization](https://www.assemblyai.com/docs/models/speaker-diarization) for more details.
          type: [integer, "null"]

        content_safety:
          x-label: Content Moderation
          description: Whether [Content Moderation](https://www.assemblyai.com/docs/models/content-moderation) is enabled, can be true or false
          type: [boolean, "null"]

        content_safety_labels:
          x-label: Content Moderation labels
          description: |
            An array of results for the Content Moderation model, if it is enabled.
            See [Content moderation](https://www.assemblyai.com/docs/models/content-moderation) for more information.
          oneOf:
            - $ref: "#/components/schemas/ContentSafetyLabelsResult"
            - type: "null"

        iab_categories:
          x-label: Topic Detection
          description: Whether [Topic Detection](https://www.assemblyai.com/docs/models/topic-detection) is enabled, can be true or false
          type: [boolean, "null"]

        iab_categories_result:
          x-label: Topic Detection result
          description: |
            The result of the Topic Detection model, if it is enabled.
            See [Topic Detection](https://www.assemblyai.com/docs/models/topic-detection) for more information.
          oneOf:
            - $ref: "#/components/schemas/TopicDetectionModelResult"
            - type: "null"

        custom_spelling:
          x-label: Custom spellings
          description: Customize how words are spelled and formatted using to and from values
          type: [array, "null"]
          items:
            x-label: Custom spelling
            $ref: "#/components/schemas/TranscriptCustomSpelling"

        auto_chapters:
          x-label: Auto Chapters enabled
          description: Whether [Auto Chapters](https://www.assemblyai.com/docs/models/auto-chapters) is enabled, can be true or false
          type: [boolean, "null"]

        chapters:
          x-label: Chapters
          description: An array of temporally sequential chapters for the audio file
          type: [array, "null"]
          items:
            x-label: Chapter
            $ref: "#/components/schemas/Chapter"

        summarization:
          x-label: Summarization enabled
          description: Whether [Summarization](https://www.assemblyai.com/docs/models/summarization) is enabled, either true or false
          type: boolean

        summary_type:
          x-label: Summary type
          description: The type of summary generated, if [Summarization](https://www.assemblyai.com/docs/models/summarization) is enabled
          type: [string, "null"]

        summary_model:
          x-label: Summary model
          description: |
            The Summarization model used to generate the summary,
            if [Summarization](https://www.assemblyai.com/docs/models/summarization) is enabled
          type: [string, "null"]

        summary:
          x-label: Summary
          description: The generated summary of the media file, if [Summarization](https://www.assemblyai.com/docs/models/summarization) is enabled
          type: [string, "null"]

        custom_topics:
          x-label: Custom topics enabled
          description: Whether custom topics is enabled, either true or false
          type: [boolean, "null"]
          deprecated: true

        topics:
          x-label: Topics
          description: The list of custom topics provided if custom topics is enabled
          type: array
          items:
            x-label: Topic
            type: string

        sentiment_analysis:
          x-label: Sentiment Analysis
          description: Whether [Sentiment Analysis](https://www.assemblyai.com/docs/models/sentiment-analysis) is enabled, can be true or false
          type: [boolean, "null"]

        sentiment_analysis_results:
          x-label: Sentiment Analysis results
          description: |
            An array of results for the Sentiment Analysis model, if it is enabled.
            See [Sentiment Analysis](https://www.assemblyai.com/docs/models/sentiment-analysis) for more information.
          type: [array, "null"]
          items:
            x-label: Sentiment Analysis result
            $ref: "#/components/schemas/SentimentAnalysisResult"

        entity_detection:
          x-label: Entity Detection
          description: Whether [Entity Detection](https://www.assemblyai.com/docs/models/entity-detection) is enabled, can be true or false
          type: [boolean, "null"]

        entities:
          x-label: Entities
          description: |
            An array of results for the Entity Detection model, if it is enabled.
            See [Entity detection](https://www.assemblyai.com/docs/models/entity-detection) for more information.
          type: [array, "null"]
          items:
            x-label: Entity
            $ref: "#/components/schemas/Entity"

        speech_threshold:
          x-label: Speech threshold
          description: |
            Defaults to null. Reject audio files that contain less than this fraction of speech.
            Valid values are in the range [0, 1] inclusive.
          type: [number, "null"]
          minimum: 0
          maximum: 1
          format: float

        throttled:
          x-label: Throttled
          description: True while a request is throttled and false when a request is no longer throttled
          type: [boolean, "null"]

        error:
          x-label: Error
          description: Error message of why the transcript failed
          type: string

        language_model:
          x-label: Language model
          description: The language model that was used for the transcript
          type: string
          deprecated: true

        acoustic_model:
          x-label: Acoustic model
          description: The acoustic model that was used for the transcript
          type: string
          deprecated: true

      required:
        - id
        - speech_model
        - language_model
        - acoustic_model
        - status
        - audio_url
        - webhook_auth
        - auto_highlights
        - redact_pii
        - summarization
        - language_confidence_threshold
        - language_confidence
      example:
        {
          id: "9ea68fd3-f953-42c1-9742-976c447fb463",
          speech_model: null,
          language_model: "assemblyai_default",
          acoustic_model: "assemblyai_default",
          language_code: "en_us",
          language_detection: true,
          language_confidence_threshold: 0.7,
          language_confidence: 0.9959,
          status: "completed",
          audio_url: "https://assembly.ai/wildfires.mp3",
[...]
