openapi: 3.1.0
info:
  title: AssemblyAI LLM Gateway API
  description: AssemblyAI LLM Gateway API
  termsOfService: https://www.assemblyai.com/legal/terms-of-service
  contact:
    name: API Support
    url: https://www.assemblyai.com/docs/
    email: support@assemblyai.com
  version: 1.0.0
servers:
  - url: https://llm-gateway.assemblyai.com
    description: LLM Gateway server
paths:
  /v1/chat/completions:
    post:
      tags:
        - chat
      summary: Create chat completion
      description: Generate a chat completion using the specified model.
      operationId: createChatCompletion
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChatCompletionsRequest"
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChatCompletionsResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /v1/understanding:
    post:
      tags:
        - understanding
      summary: Process speech understanding
      description: Apply speech understanding features to a transcript.
      operationId: processUnderstanding
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UnderstandingRequest"
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnderstandingResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - APIKeyHeader: []
  /v1/chat/completions/{request_id}:
    delete:
      tags:
        - chat
      summary: Delete chat completion request
      description: Cancel or delete a chat completion request by ID.
      operationId: deleteChatCompletion
      security:
        - APIKeyHeader: []
      parameters:
        - name: request_id
          in: path
          required: true
          schema:
            type: string
            title: Request Id
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
components:
  schemas:
    ChatChoice:
      properties:
        message:
          anyOf:
            - $ref: "#/components/schemas/StandardMessage"
            - $ref: "#/components/schemas/ToolMessage"
            - type: "null"
          title: Message
          description: The message generated by the model
        finish_reason:
          anyOf:
            - type: string
            - type: "null"
          title: Finish Reason
          description: The reason the model stopped generating
        tool_calls:
          anyOf:
            - items:
                $ref: "#/components/schemas/FunctionToolCall"
              type: array
            - type: "null"
          title: Tool Calls
          description: Tool calls made by the model
      additionalProperties: false
      type: object
      title: ChatChoice
      description: A chat completion choice.
    ChatCompletionsRequest:
      properties:
        messages:
          anyOf:
            - items:
                anyOf:
                  - $ref: "#/components/schemas/StandardMessage"
                  - $ref: "#/components/schemas/ToolMessage"
              type: array
            - type: "null"
          title: Messages
          description: List of messages for the conversation
        prompt:
          anyOf:
            - type: string
            - type: "null"
          title: Prompt
          description: Simple prompt (will be converted to messages)
        model:
          type: string
          title: Model
          description: The model to use for completion
        max_tokens:
          anyOf:
            - type: integer
              minimum: 1.0
            - type: "null"
          title: Max Tokens
          description: Maximum number of tokens to generate
        temperature:
          anyOf:
            - type: number
              maximum: 2.0
              minimum: 0.0
            - type: "null"
          title: Temperature
          description: Temperature for sampling
        tools:
          anyOf:
            - items:
                $ref: "#/components/schemas/Tool"
              type: array
            - type: "null"
          title: Tools
          description: Tools available for the model to call
        tool_choice:
          anyOf:
            - type: string
            - $ref: "#/components/schemas/ToolChoiceObject"
            - type: "null"
          title: Tool Choice
          description: Tool choice strategy
      additionalProperties: false
      type: object
      required:
        - model
      title: ChatCompletionsRequest
      description: Request parameters for chat completions.
    ChatCompletionsResponse:
      properties:
        request_id:
          type: string
          title: Request Id
          description: Unique identifier for the request
        choices:
          items:
            $ref: "#/components/schemas/ChatChoice"
          type: array
          title: Choices
          description: List of completion choices
        request:
          additionalProperties: true
          type: object
          title: Request
          description: The original request parameters (sans prompt/messages)
        usage:
          $ref: "#/components/schemas/Usage"
          description: Token usage information
        response_time:
          anyOf:
            - type: integer
            - type: "null"
          title: Response Time
          description: Response time in nanoseconds
        llm_status_code:
          anyOf:
            - type: integer
            - type: "null"
          title: Llm Status Code
          description: Status code from the underlying LLM
      additionalProperties: false
      type: object
      required:
        - request_id
        - choices
        - request
        - usage
      title: ChatCompletionsResponse
      description: Response from chat completions endpoint.
    ChatRole:
      type: string
      enum:
        - assistant
        - user
        - system
        - tool
      title: ChatRole
      description: The role of the message sender.
    CustomFormattingRequest:
      properties:
        date:
          anyOf:
            - type: string
            - type: "null"
          title: Date
          description: Date format pattern (e.g., 'mm/dd/yyyy')
        phone_number:
          anyOf:
            - type: string
            - type: "null"
          title: Phone Number
          description: Phone number format pattern (e.g., '(xxx)xxx-xxxx')
        email:
          anyOf:
            - type: string
            - type: "null"
          title: Email
          description: Email format pattern (e.g., 'username@domain.com')
        formatted_utterances:
          type: boolean
          title: Formatted Utterances
          description: Whether to format utterances
          default: true
      additionalProperties: false
      type: object
      title: CustomFormattingRequest
      description: Custom formatting request configuration.
    CustomFormattingResponse:
      properties:
        mapping:
          additionalProperties:
            type: string
          type: object
          title: Mapping
          description: Mapping of original text to formatted text
        formatted_text:
          anyOf:
            - type: string
            - type: "null"
          title: Formatted Text
          description: The formatted text
        formatted_utterances:
          anyOf:
            - items:
                additionalProperties: true
                type: object
              type: array
            - type: "null"
          title: Formatted Utterances
          description: Formatted utterances
        status:
          type: string
          title: Status
          description: The status of custom formatting
      additionalProperties: false
      type: object
      required:
        - mapping
        - status
      title: CustomFormattingResponse
      description: Custom formatting response.
    DeleteResponse:
      properties:
        success:
          type: boolean
          title: Success
          description: Whether the deletion was successful
        message:
          type: string
          title: Message
          description: Deletion status message
        request_id:
          type: string
          title: Request Id
          description: The deleted request ID
      additionalProperties: false
      type: object
      required:
        - success
        - message
        - request_id
      title: DeleteResponse
      description: Response from delete request endpoint.
    Function:
      properties:
        arguments:
          type: string
          title: Arguments
          description: Function arguments as JSON string
        name:
          type: string
          title: Name
          description: Function name
      additionalProperties: false
      type: object
      required:
        - arguments
        - name
      title: Function
      description: Function call details.
    FunctionDescription:
      properties:
        description:
          anyOf:
            - type: string
            - type: "null"
          title: Description
          description: Function description
        name:
          type: string
          title: Name
          description: Function name
        parameters:
          additionalProperties: true
          type: object
          title: Parameters
          description: JSON Schema object for parameters
      additionalProperties: false
      type: object
      required:
        - name
        - parameters
      title: FunctionDescription
      description: Function description for tool calling.
    FunctionToolCall:
      properties:
        function:
          $ref: "#/components/schemas/Function"
          description: Function call details
        id:
          type: string
          title: Id
          description: Tool call ID
        type:
          type: string
          title: Type
          description: Tool call type
          default: function
      additionalProperties: false
      type: object
      required:
        - function
        - id
      title: FunctionToolCall
      description: Function tool call.
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: "#/components/schemas/ValidationError"
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    SpeakerIdentificationRequest:
      properties:
        speaker_type:
          $ref: "#/components/schemas/SpeakerType"
          description: The type of speaker identification
        known_values:
          anyOf:
            - items:
                type: string
              type: array
            - type: "null"
          title: Known Values
          description: Known values for speakers (required when speaker_type is 'role')
      additionalProperties: false
      type: object
      required:
        - speaker_type
      title: SpeakerIdentificationRequest
      description: Speaker identification request configuration.
    SpeakerIdentificationResponse:
      properties:
        mapping:
          additionalProperties:
            type: string
          type: object
          title: Mapping
          description: Mapping of original speakers to identified speakers
        status:
          type: string
          title: Status
          description: The status of speaker identification
      additionalProperties: false
      type: object
      required:
        - mapping
        - status
      title: SpeakerIdentificationResponse
      description: Speaker identification response.
    SpeakerType:
      type: string
      enum:
        - name
        - role
      title: SpeakerType
      description: The type of speaker identification.
    SpeechUnderstanding:
      properties:
        request:
          $ref: "#/components/schemas/SpeechUnderstandingRequest-Output"
          description: The speech understanding request configuration
        response:
          anyOf:
            - $ref: "#/components/schemas/SpeechUnderstandingResponse"
            - type: "null"
          description: The speech understanding response
      additionalProperties: false
      type: object
      required:
        - request
      title: SpeechUnderstanding
      description: Speech Understanding configuration with results.
    SpeechUnderstandingInput:
      properties:
        request:
          $ref: "#/components/schemas/SpeechUnderstandingRequest-Input"
          description: The speech understanding request configuration
      additionalProperties: false
      type: object
      required:
        - request
      title: SpeechUnderstandingInput
      description: Speech Understanding input configuration for requests.
    SpeechUnderstandingRequest-Input:
      properties:
        speaker_identification:
          anyOf:
            - $ref: "#/components/schemas/SpeakerIdentificationRequest"
            - type: "null"
          description: Speaker identification request
        translation:
          anyOf:
            - $ref: "#/components/schemas/TranslationRequest"
            - type: "null"
          description: Translation request
        custom_formatting:
          anyOf:
            - $ref: "#/components/schemas/CustomFormattingRequest"
            - type: "null"
          description: Custom formatting request
      additionalProperties: false
      type: object
      title: SpeechUnderstandingRequest
      description: Speech understanding request configuration.
    SpeechUnderstandingRequest-Output:
      properties:
        speaker_identification:
          anyOf:
            - $ref: "#/components/schemas/SpeakerIdentificationRequest"
            - type: "null"
          description: Speaker identification request
        translation:
          anyOf:
            - $ref: "#/components/schemas/TranslationRequest"
            - type: "null"
          description: Translation request
        custom_formatting:
          anyOf:
            - $ref: "#/components/schemas/CustomFormattingRequest"
            - type: "null"
          description: Custom formatting request
      additionalProperties: false
      type: object
      title: SpeechUnderstandingRequest
      description: Speech understanding request configuration.
    SpeechUnderstandingResponse:
      properties:
        speaker_identification:
          anyOf:
            - $ref: "#/components/schemas/SpeakerIdentificationResponse"
            - type: "null"
          description: Speaker identification response
        translation:
          anyOf:
            - $ref: "#/components/schemas/TranslationResponse"
            - type: "null"
          description: Translation response
        custom_formatting:
          anyOf:
            - $ref: "#/components/schemas/CustomFormattingResponse"
            - type: "null"
          description: Custom formatting response
      additionalProperties: false
      type: object
      title: SpeechUnderstandingResponse
      description: Speech understanding response configuration.
    StandardMessage:
      properties:
        role:
          $ref: "#/components/schemas/ChatRole"
          description: The role of the message sender
        content:
          anyOf:
            - type: string
            - items:
                $ref: "#/components/schemas/TextContent"
              type: array
          title: Content
          description: The content of the message
        name:
          anyOf:
            - type: string
            - type: "null"
          title: Name
          description: Optional name for the message sender
      additionalProperties: false
      type: object
      required:
        - role
        - content
      title: StandardMessage
      description: Standard chat message.
    TextContent:
      properties:
        type:
          type: string
          title: Type
          description: Content type
          default: text
        text:
          type: string
          title: Text
          description: The text content
      additionalProperties: false
      type: object
      required:
        - text
      title: TextContent
      description: Text content part.
    Tool:
      properties:
        type:
          type: string
          title: Type
          description: Tool type
          default: function
        function:
          $ref: "#/components/schemas/FunctionDescription"
          description: Function description
      additionalProperties: false
      type: object
      required:
        - function
      title: Tool
      description: Tool definition.
    ToolChoiceFunction:
      properties:
        name:
          type: string
          title: Name
          description: Function name
      additionalProperties: false
      type: object
      required:
        - name
      title: ToolChoiceFunction
      description: Tool choice function specification.
    ToolChoiceObject:
      properties:
        type:
          type: string
          title: Type
          description: Tool choice type
          default: function
        function:
          $ref: "#/components/schemas/ToolChoiceFunction"
          description: Function specification
      additionalProperties: false
      type: object
      required:
        - function
      title: ToolChoiceObject
      description: Tool choice object.
    ToolMessage:
      properties:
        role:
          type: string
          title: Role
          description: Message role
          default: tool
        content:
          type: string
          title: Content
          description: Tool response content
        tool_call_id:
          type: string
          title: Tool Call Id
          description: ID of the tool call this is responding to
        name:
          anyOf:
            - type: string
            - type: "null"
          title: Name
          description: Optional tool name
      additionalProperties: false
      type: object
      required:
        - content
        - tool_call_id
      title: ToolMessage
      description: Tool message.
    TranscriptUtterance:
      properties:
        speaker:
          type: string
          title: Speaker
          description: The speaker of the utterance
        text:
          type: string
          title: Text
          description: The text of the utterance
        confidence:
          type: number
          maximum: 1.0
          minimum: 0.0
          title: Confidence
          description: Confidence score
        start:
          type: integer
          title: Start
          description: Start time in milliseconds
        end:
          type: integer
          title: End
          description: End time in milliseconds
        words:
          items:
            $ref: "#/components/schemas/TranscriptWord"
          type: array
          title: Words
          description: Words in the utterance
      additionalProperties: false
      type: object
      required:
        - speaker
        - text
        - confidence
        - start
        - end
        - words
      title: TranscriptUtterance
      description: An utterance in the transcript.
    TranscriptWord:
      properties:
        speaker:
          type: string
          title: Speaker
          description: The speaker of the word
        text:
          type: string
          title: Text
          description: The text of the word
        start:
          type: integer
          title: Start
          description: Start time in milliseconds
        end:
          type: integer
          title: End
          description: End time in milliseconds
        confidence:
          type: number
          maximum: 1.0
          minimum: 0.0
          title: Confidence
          description: Confidence score
      additionalProperties: false
      type: object
      required:
        - speaker
        - text
        - start
        - end
        - confidence
      title: TranscriptWord
      description: A word in the transcript.
    TranslationRequest:
      properties:
        target_languages:
          items:
            type: string
          type: array
          title: Target Languages
          description: List of target language codes
        formal:
          type: boolean
          title: Formal
          description: Whether to use formal language
          default: true
        match_original_utterance:
          type: boolean
          title: Match Original Utterance
          description: Whether to match original utterance structure
          default: false
      additionalProperties: false
      type: object
      required:
        - target_languages
      title: TranslationRequest
      description: Translation request configuration.
    TranslationResponse:
      properties:
        status:
          type: string
          title: Status
          description: The status of translation
      additionalProperties: false
      type: object
      required:
        - status
      title: TranslationResponse
      description: Translation response.
    UnderstandingRequest:
      properties:
        transcript_id:
          type: string
          title: Transcript Id
          description: The transcript ID to process
        speech_understanding:
          $ref: "#/components/schemas/SpeechUnderstandingInput"
          description: Speech understanding configuration
      additionalProperties: false
      type: object
      required:
        - transcript_id
        - speech_understanding
      title: UnderstandingRequest
      description: Request for understanding endpoint.
    UnderstandingResponse:
      properties:
        speech_understanding:
          $ref: "#/components/schemas/SpeechUnderstanding"
          description: Speech understanding results
        utterances:
          items:
            $ref: "#/components/schemas/TranscriptUtterance"
          type: array
          title: Utterances
          description: Updated utterances with speech understanding applied
        request_id:
          type: string
          title: Request Id
          description: Unique identifier for the request
      additionalProperties: false
      type: object
      required:
        - speech_understanding
        - utterances
        - request_id
      title: UnderstandingResponse
      description: Response from understanding endpoint.
    Usage:
      properties:
        input_tokens:
          type: integer
          title: Input Tokens
          description: Number of input tokens
        output_tokens:
          type: integer
          title: Output Tokens
          description: Number of output tokens
        total_tokens:
          type: integer
          title: Total Tokens
          description: Total number of tokens
      additionalProperties: false
      type: object
      required:
        - input_tokens
        - output_tokens
        - total_tokens
      title: Usage
      description: Token usage information.
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
              - type: string
              - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
        - loc
        - msg
        - type
      title: ValidationError
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      description: AssemblyAI API Key
      in: header
      name: Authorization
