* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  -webkit-appearance: none;
  appearance: none;
}

.fern-logo-container {
  margin-left: -8px;
}

#fern-header > div {
  border-bottom: 0;
}

.fern-search-bar {
  background-color: #75757640 !important;
  box-shadow: none !important;
}

.fern-search-bar:hover {
  background-color: #75757659 !important;
}

.fern-sidebar-container > nav {
  padding-left: 0 !important;
}

.fern-background {
  background-size: auto !important;
}

.fern-sidebar-heading-content {
  text-transform: uppercase !important;
  font-weight: 500 !important;
  font-size: 14px !important;
}

.fern-sidebar-link-text {
  font-weight: 400 !important;
  font-size: 14px !important;
}

.fern-sidebar-container {
  background: rgba(255, 255, 255, 0.5) !important;
  backdrop-filter: blur(6px);
  border-right: 1px solid rgba(0, 0, 0, 0.1) !important;
}

:is(.dark) .fern-sidebar-container {
  background: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(6px);
  border-right: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.fern-breadcrumb-item {
  font-weight: 500;
}

.fern-mdx-link svg {
  display: none !important;
}

.fern-mdx-link {
  font-weight: 500 !important;
}