.fern-logo-container {
  margin-left: -8px;
}

#fern-header > div {
  border-bottom: 0;
}

.fern-search-bar {
  background-color: #75757640 !important;
  box-shadow: none !important;
}

.fern-search-bar:hover {
  background-color: #75757659 !important;
}

.fern-sidebar-container > nav {
  padding-left: 0 !important;
}

.fern-background {
  background-size: auto !important;
}
