// align logo placement with /docs
.fern-logo-container {
    margin-left: -8px;
}

// remove border from header to match /docs style
#fern-header > div {
    border-bottom: 0;
}

// update searchbar style to match /docs
// however, we are not updating its position, since
// the search experience is different.
.fern-search-bar {
    background-color: #75757640 !important;
    box-shadow: none !important;
}

.fern-search-bar:hover {
    background-color: #75757659 !important;
}

// remove 8px padding from sidebar to match /docs style
.fern-sidebar-container > nav {
    padding-left: 0 !important;
}