openapi: 3.0.0
info:
  title: AssemblyAI API
  description: AssemblyAI's official API
  version: 2.0.0
  contact:
    name: API Support
    email: support@assemblyai.com
    url: https://www.assemblyai.com/docs/

servers:
  - url: https://api.assemblyai.com/v2
    description: AssemblyAI Production API

tags:
  - name: transcript
    description: Transcript related operations
    externalDocs:
      url: https://www.assemblyai.com/docs/walkthroughs#submitting-files-for-transcription

security:
  - APIKey: []

paths:
  /transcript:
    post:
      tags:
        - transcript
      summary: Submitting files for transcript
      operationId: transcribeUrl
      x-fern-sdk-group-name: transcript
      x-fern-sdk-method-name: create
      description: The AssemblyAI API can transcribe audio/video files that are accessible via a URL. For example, audio files in an S3 bucket, on your server, via the Twilio API, etc.
      requestBody:
        description: Optional description in *Markdown*
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TranscriptRequest"
      responses:
        "201":
          description: Accepted file for transcription
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TranscriptResponse"
    get:
      tags:
        - transcript
      summary: Listing Historical Transcripts
      x-fern-sdk-group-name: transcript
      x-fern-sdk-method-name: list
      operationId: listTranscripts
      description: With the list endpoint, you can retrieve a list of all the transcripts you have created. This list can also be filtered by the transcript status.
      parameters:
        - name: limit
          in: query
          description: Max results to return in a single response
          schema:
            type: integer
            format: int64
            minimum: 1
            maximum: 200
            default: 10
        - name: status
          in: query
          description: Filter by transcript status
          schema:
            $ref: '#/components/schemas/TranscriptStatus'

        - name: created_on
          in: query
          description: Only return transcripts created on this date
          schema:
            type: string
            format: date

        - name: before_id
          in: query
          description: Return transcripts that were created before this id
          schema:
            type: string

        - name: after_id
          in: query
          description: Return transcripts that were created after this id
          schema:
            type: string

        - name: throttled_only
          in: query
          description: Only return throttled transcripts, overrides status filter
          schema:
            type: boolean

      responses:
        '200':
          description: A list of transcripts filtered by `limit` and `status`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranscriptListResponse'

  /upload:
    post:
      tags:
        - transcript
      summary: Upload a file for transcription directly
      operationId: transcribeFile
      x-fern-sdk-group-name: files
      x-fern-sdk-method-name: upload
      description: If your audio files aren't accessible via a URL already (like in an S3 bucket, static file server, or via an API like Twilio), you can upload your files directly to the AssemblyAI API.
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "201":
          description: Accepted file for transcription
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TranscriptResponse"

  /transcript/{transcriptId}:
    get:
      tags:
        - transcript
      summary: Get the transcription result
      operationId: getTranscript
      x-fern-sdk-group-name: transcript
      x-fern-sdk-method-name: get
      description: After you submit an audio file for processing, the "status" key will go from "queued" to "processing" to "completed". You can make a GET request, as shown on the right, to check for updates on the status of your transcription.
      parameters:
        - name: transcriptId
          in: path
          description: ID of the transcription
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Accepted file for transcription
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TranscriptResponse"
    delete:
      tags:
        - transcript
      summary: Delete the transcription
      operationId: deleteTranscript
      x-fern-sdk-group-name: transcript
      x-fern-sdk-method-name: delete
      description: After you submit an audio file for processing, the "status" key will go from "queued" to "processing" to "completed". You can make a GET request, as shown on the right, to check for updates on the status of your transcription.
      parameters:
        - name: transcriptId
          in: path
          description: ID of the transcription
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Accepted file for transcription
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TranscriptResponse"
  /transcript/{transcriptId}/vtt:
    get:
      tags:
        - transcript
      summary: Export VTT Caption Files
      operationId: exportTranscriptAsVTT
      x-fern-sdk-group-name: transcript
      x-fern-sdk-method-name: exportAsVTT
      description: You can export your complete transcripts in VTT format, to be plugged into a video player for subtitles and closed captions.
      parameters:
        - name: transcriptId
          in: path
          description: ID of the transcription
          required: true
          schema:
            type: string
        - name: chars_per_caption
          in: query
          description: To control the maximum number of characters per caption
          schema:
            type: integer
            format: int64

      responses:
        "200":
          description: The exported VTT as text
          content:
            application/json:
              schema:
                type: string
                example: |
                  WEBVTT

                  00:12.340 --> 00:16.220
                  Last year I showed these two slides said that demonstrate

                  00:16.200 --> 00:20.040
                  that the Arctic ice cap which for most of the last 3,000,000 years has been the

                  00:20.020 --> 00:25.040
                  size of the lower 48 States has shrunk by 40% but this understates

  /transcript/{transcriptId}/srt:
    get:
      tags:
        - transcript
      summary: Export SRT Caption Files
      operationId: exportTranscriptAsSRT
      x-fern-sdk-group-name: transcript
      x-fern-sdk-method-name: exportAsSRT
      description: You can export your complete transcripts in SRT format, to be plugged into a video player for subtitles and closed captions.
      parameters:
        - name: transcriptId
          in: path
          description: ID of the transcription
          required: true
          schema:
            type: string
        - name: chars_per_caption
          in: query
          description: To control the maximum number of characters per caption
          schema:
            type: integer
            format: int64

      responses:
        "200":
          description: The exported SRT as text
          content:
            application/json:
              schema:
                type: string
                example: |
                  1
                  00:00:12,340 --> 00:00:16,380
                  Last year I showed these two slides said that demonstrate that

                  2
                  00:00:16,340 --> 00:00:19,920
                  the Arctic ice cap which for most of the last 3,000,000 years has been

                  3
                  00:00:19,880 --> 00:00:23,120
                  the size of the lower 48 States has shrunk by 40%

  /transcript/{transcriptId}/sentences:
    get:
      tags:
        - transcript
      summary: Exporting Sentences
      operationId: exportTranscriptSentences
      x-fern-sdk-group-name: transcript
      x-fern-sdk-method-name: exportSentences
      description: You can use either of the following endpoints to retrieve a completed transcript automatically broken down into sentences. Using this endpoint, the API will attempt to semantically segment your transcript into sentences to create more reader-friendly transcripts.
      parameters:
        - name: transcriptId
          in: path
          description: ID of the transcription
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Exported sentences
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TranscriptSentenceResponse"

  /transcript/{transcriptId}/paragraphs:
    get:
      tags:
        - transcript
      summary: Exporting Paragraphs
      operationId: exportTranscriptParagraphs
      x-fern-sdk-group-name: transcript
      x-fern-sdk-method-name: exportParagraphs
      description: You can use either of the following endpoints to retrieve a completed transcript automatically broken down into paragraphs. Using this endpoint, the API will attempt to semantically segment your transcript into sentences to create more reader-friendly transcripts.
      parameters:
        - name: transcriptId
          in: path
          description: ID of the transcription
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Exported paragraphs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TranscriptParagraphResponse"

  /transcript/{transcriptId}/word-search:
    get:
      tags:
        - transcript
      summary: Searches the given transcription for words, numbers, or phrases
      operationId: searchTranscript
      x-fern-sdk-group-name: transcript
      x-fern-sdk-method-name: search
      description: Once a transcript has been completed, you can search through the transcript for a specific set of keywords. You can search for individual words, numbers, or phrases containing up to five words or numbers.
      parameters:
        - name: transcriptId
          in: path
          description: ID of the transcription
          required: true
          schema:
            type: string
        - name: words
          in: query
          description: To control the maximum number of characters per caption
          schema:
            type: array
            items:
              type: integer

      responses:
        "200":
          description: Exported paragraphs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TranscriptSearchResponse"

components:
  schemas:
    TranscriptSearchResponse:
      type: object
      properties:
        id:
          description: The id of the transcript
          type: string
        total_count:
          description: Equals the total of all matched instances.
          type: integer
        matches:
          description: For e.g., word 1 matched 2 times, and word2 matched 3 times, `total_count` will equal 5
          type: array
          items:
            $ref: "#/components/schemas/TranscriptSearchMatch"

    TranscriptSearchMatch:
      type: object
      properties:
        text:
          description: The word itself
          type: string
        count:
          description: The total amount of times the word is in the transcript
          type: integer
        timestamps:
          description: An array of timestamps
          type: array
          items:
            $ref: "#/components/schemas/TranscriptTimestamp"
        indexes:
          description: An array of all index locations for that word within the `words` array of the completed transcript
          type: array
          items:
            type: integer

    TranscriptTimestamp:
      description: An array of timestamps structured as [`start_time`, `end_time``]
      type: array
      items:
        type: integer

    TranscriptRequest:
      type: object
      properties:
        audio_url:
          type: string
        language_code:
          $ref: "#/components/schemas/TranscriptLanguageCode"
        speaker_labels:
          type: boolean
        word_boost:
          type: array
          items:
            type: string
        boost_param:
          $ref: "#/components/schemas/TranscriptBoostParam"

        custom_spelling:
          type: array
          items:
            $ref: "#/components/schemas/TranscriptCustomSpelling"

        dual_channel:
          type: boolean

        disfluencies:
          type: boolean

        language_detection:
          type: boolean

        punctuate:
          type: boolean

        format_text:
          type: boolean

        filter_profanity:
          type: boolean

        webhook_url:
          type: string
        webhook_auth_header_name:
          type: string
        webhook_auth_header_value:
          type: string

    TranscriptBoostParam:
      type: string
      enum:
        - low
        - default
        - high

    TranscriptCustomSpelling:
      type: object
      properties:
        from:
          type: array
          items:
            type: string
        to:
          type: string
    TranscriptUtterance:
      type: object
      properties:
        channel:
          type: string
        confidence:
          type: number
        start:
          type: integer
        end:
          type: integer
        text:
          type: string
        words:
          type: array
          items:
            $ref: "#/components/schemas/TranscriptWord"

    TranscriptLanguageCode:
      type: string
      enum:
        - es
        - en
        - nl
        - ja
        - hi
        - de
        - pt
        - fr

    TranscriptStatus:
      type: string
      enum:
        - queued
        - processing
        - completed
    TranscriptResponse:
      type: object
      properties:
        id:
          type: string
        status:
          $ref: "#/components/schemas/TranscriptStatus"
        acoustic_model:
          type: string
        audio_duration:
          type: number
        audio_url:
          type: string
        confidence:
          type: number
        dual_channel:
          type: boolean
        format_text:
          type: boolean
        language_model:
          type: string
        language_detection:
          type: boolean
        punctuate:
          type: boolean
        text:
          type: string
        utterances:
          type: array
          items:
            $ref: "#/components/schemas/TranscriptUtterance"
        webhook_status_code:
          type: number
        webhook_url:
          type: string
        words:
          type: array
          items:
            $ref: "#/components/schemas/TranscriptWord"
      required: 
        - id

    TranscriptWord:
      type: object
      properties:
        confidence:
          type: number
        start:
          type: integer
        end:
          type: integer
        text:
          type: string
        speaker:
          type: string

    TranscriptSentence:
      type: object
      properties:
        text:
          type: string
        start:
          type: integer
        end:
          type: integer
        confidence:
          type: number
        words:
          type: array
          items:
            $ref: "#/components/schemas/TranscriptWord"

    TranscriptSentenceResponse:
      type: object
      properties:
        id:
          type: string
        confidence:
          type: number
        audio_duration:
          type: number
        sentences:
          type: array
          items:
            $ref: "#/components/schemas/TranscriptSentence"

    TranscriptParagraph:
      type: object
      properties:
        text:
          type: string
        start:
          type: integer
        end:
          type: integer
        confidence:
          type: number
        words:
          type: array
          items:
            $ref: "#/components/schemas/TranscriptWord"

    TranscriptParagraphResponse:
      type: object
      properties:
        id:
          type: string
        confidence:
          type: number
        audio_duration:
          type: number
        paragraphs:
          type: array
          items:
            $ref: "#/components/schemas/TranscriptParagraph"

    PageDetails:
      type: object
      properties:
        limit:
          type: integer
        result_count:
          type: integer
        current_url:
          type: string
        prev_url:
          type: string
        next_url:
          type: string

    TranscriptListItem:
      type: object
      properties:
        id:
          type: string
        resource_url:
          type: string
        status:
          $ref: '#/components/schemas/TranscriptStatus'
        created:
          type: string
          format: date
        completed:
          type: string
          format: date-time
        audio_url:
          type: string

    TranscriptListResponse:
      type: object
      properties:
        page_details:
          $ref: '#/components/schemas/PageDetails'
        transcripts:
          type: array
          items:
            $ref: '#/components/schemas/TranscriptListItem'

  requestBodies:
    TranscriptRequest:
      description: Transcript request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/TranscriptRequest"


  securitySchemes:
    APIKey:
      type: apiKey
      in: header
      name: Authorization
