openapi: 3.1.0
info:
  title: AssemblyAI API
  description: AssemblyAI API
  termsOfService: https://www.assemblyai.com/legal/terms-of-service
  contact:
    name: API Support
    url: https://www.assemblyai.com/docs/
    email: support@assemblyai.com
  version: 1.3.4
servers:
- url: https://api.assemblyai.com
  description: US server
- url: https://api.eu.assemblyai.com
  description: EU server
paths:
  /v2/transcript:
    post:
      tags:
      - transcripts
      summary: Transcribe audio
      description: '<Note>To use our EU server for transcription, replace `api.assemblyai.com`
        with `api.eu.assemblyai.com`.</Note>

        Create a transcript from a media file that is accessible via a URL.'
      operationId: createTranscript
      security:
      - APIKeyHeader: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranscriptParams'
      responses:
        '200':
          description: Transcript created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranscriptResponse'
              example:
                id: e2be313e-b6f5-4051-b683-6c43e0aeb732
                language_model: assemblyai_default
                acoustic_model: assemblyai_default
                language_code: en_us
                status: queued
                audio_url: https://assembly.ai/example.wav
                punctuate: true
                format_text: true
                webhook_auth: false
                speed_boost: false
                auto_highlights: false
                word_boost: []
                filter_profanity: false
                redact_pii: false
                redact_pii_audio: false
                speaker_labels: false
                content_safety: false
                iab_categories: false
                content_safety_labels: {}
                iab_categories_result: {}
                language_detection: false
                throttled: false
                auto_chapters: false
                summarization: false
                custom_topics: false
                topics: []
                speech_models:
                - universal
                disfluencies: false
                entity_detection: false
                sentiment_analysis: false
                project_id: 41061
                token_id: 41061
        '400':
          description: Bad Request - Invalid parameters
          content:
            application/json:
              example:
                error: audio_url is required
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
    get:
      tags:
      - transcripts
      summary: List transcripts
      description: '<Note>To retrieve your transcriptions on our EU server, replace
        `api.assemblyai.com` with `api.eu.assemblyai.com`.</Note>

        Retrieve a list of transcripts you created.

        Transcripts are sorted from newest to oldest and can be retrieved for the
        last 90 days of usage. The previous URL always points to a page with older
        transcripts.


        If you need to retrieve transcripts from more than 90 days ago please reach
        out to our Support team at support@assemblyai.com.'
      operationId: listTranscripts
      security:
      - APIKeyHeader: []
      parameters:
      - name: limit
        in: query
        required: false
        schema:
          anyOf:
          - type: integer
            maximum: 200
            minimum: 1
          - type: 'null'
          description: Maximum amount of transcripts to retrieve
          title: Limit
        description: Maximum amount of transcripts to retrieve
      - name: status
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Filter by transcript status
          title: Status
        description: Filter by transcript status
      - name: created_on
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Get transcripts created on this date
          title: Created On
        description: Get transcripts created on this date
      - name: before_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Get transcripts that were created before this transcript ID
          title: Before Id
        description: Get transcripts that were created before this transcript ID
      - name: after_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Get transcripts that were created after this transcript ID
          title: After Id
        description: Get transcripts that were created after this transcript ID
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranscriptListResponse'
              example:
                page_details:
                  limit: 10
                  result_count: 10
                  current_url: https://api.assemblyai.com/v2/transcript?limit=10&status=completed
                  prev_url: https://api.assemblyai.com/v2/transcript?limit=10&status=completed&before_id=6444e6bc-fe74-4e8c-ad63-ec119672b4aa
                  next_url: https://api.assemblyai.com/v2/transcript?limit=10&status=completed&after_id=3c3bdee9-764f-45b1-82b8-d01a24a9c1bc
                transcripts:
                - id: 3c3bdee9-764f-45b1-82b8-d01a24a9c1bc
                  resource_url: https://api.assemblyai.com/v2/transcript/3c3bdee9-764f-45b1-82b8-d01a24a9c1bc
                  status: completed
                  created: '2025-11-27T05:20:21.843761Z'
                  completed: '2025-11-27T05:20:34.281933Z'
                  audio_url: https://assembly.ai/nbc.mp3
                  error: ''
                - id: f3884d3c-dc5e-4203-8386-ef07327eb442
                  resource_url: https://api.assemblyai.com/v2/transcript/f3884d3c-dc5e-4203-8386-ef07327eb442
                  status: completed
                  created: '2025-11-27T01:47:49.970332Z'
                  completed: '2025-11-27T01:48:04.208790Z'
                  audio_url: https://assembly.ai/nbc.mp3
                  error: ''
                - id: 08ff54b2-dc9e-4eba-83c1-c23e9364b45a
                  resource_url: https://api.assemblyai.com/v2/transcript/08ff54b2-dc9e-4eba-83c1-c23e9364b45a
                  status: completed
                  created: '2025-11-27T01:31:26.657400Z'
                  completed: '2025-11-27T01:31:30.972316Z'
                  audio_url: deleted_by_user
                  error: ''
                - id: d6ab1c2d-d291-4a79-977d-c5da35e81445
                  resource_url: https://api.assemblyai.com/v2/transcript/d6ab1c2d-d291-4a79-977d-c5da35e81445
                  status: completed
                  created: '2025-11-27T01:29:57.375574Z'
                  completed: '2025-11-27T01:30:12.072649Z'
                  audio_url: https://assembly.ai/nbc.mp3
                  error: ''
                - id: 8c856a54-37a3-48db-9649-70a1a4127619
                  resource_url: https://api.assemblyai.com/v2/transcript/8c856a54-37a3-48db-9649-70a1a4127619
                  status: completed
                  created: '2025-11-27T01:28:07.774150Z'
                  completed: '2025-11-27T01:28:21.856569Z'
                  audio_url: https://assembly.ai/nbc.mp3
                  error: ''
                - id: b19caccd-2819-476b-bc87-d50366efa67c
                  resource_url: https://api.assemblyai.com/v2/transcript/b19caccd-2819-476b-bc87-d50366efa67c
                  status: completed
                  created: '2025-11-26T05:49:15.545422Z'
                  completed: '2025-11-26T05:49:28.112493Z'
                  audio_url: https://assembly.ai/nbc.mp3
                  error: ''
                - id: b6a5408c-caa1-4ba3-a866-1441a18f0cdb
                  resource_url: https://api.assemblyai.com/v2/transcript/b6a5408c-caa1-4ba3-a866-1441a18f0cdb
                  status: completed
                  created: '2025-11-26T05:48:04.255470Z'
                  completed: '2025-11-26T05:49:41.596169Z'
                  audio_url: https://assembly.ai/nbc.mp3
                  error: ''
                - id: a78ccedc-224d-4ab6-b82e-277e345a1c55
                  resource_url: https://api.assemblyai.com/v2/transcript/a78ccedc-224d-4ab6-b82e-277e345a1c55
                  status: completed
                  created: '2025-11-19T05:30:44.913255Z'
                  completed: '2025-11-19T05:31:10.656062Z'
                  audio_url: https://assembly.ai/nbc.mp3
                  error: ''
                - id: 4b38bbf9-a648-44a3-883f-7a641f95542c
                  resource_url: https://api.assemblyai.com/v2/transcript/4b38bbf9-a648-44a3-883f-7a641f95542c
                  status: completed
                  created: '2025-11-19T03:57:08.194630Z'
                  completed: '2025-11-19T03:57:33.737210Z'
                  audio_url: https://assembly.ai/nbc.mp3
                  error: ''
                - id: 6444e6bc-fe74-4e8c-ad63-ec119672b4aa
                  resource_url: https://api.assemblyai.com/v2/transcript/6444e6bc-fe74-4e8c-ad63-ec119672b4aa
                  status: completed
                  created: '2025-11-19T03:41:57.495607Z'
                  completed: '2025-11-19T03:42:23.872222Z'
                  audio_url: https://assembly.ai/nbc.mp3
                  error: ''
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
  /v2/transcript/{transcript_id}:
    get:
      tags:
      - transcripts
      summary: Get transcript
      description: '<Note>To retrieve your transcriptions on our EU server, replace
        `api.assemblyai.com` with `api.eu.assemblyai.com`.</Note>

        Get the transcript resource. The transcript is ready when the "status" is
        "completed".'
      operationId: getTranscript
      security:
      - APIKeyHeader: []
      parameters:
      - name: transcript_id
        in: path
        required: true
        schema:
          type: string
          title: Transcript Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TranscriptResponse'
              example:
                id: b6a5408c-caa1-4ba3-a866-1441a18f0cdb
                language_model: assemblyai_default
                acoustic_model: assemblyai_default
                language_code: en_us
                status: completed
                audio_url: https://assembly.ai/wildfires.mp3
                text: Smoke from hundreds of wildfires in Canada is triggering air
                  quality alerts throughout the US Skylines from Maine to Maryland
                  to Minnesota are gray and smoggy. And in some places, the air quality
                  warnings include the warning to stay inside. We wanted to better
                  understand what's happening here and why, so we called Peter DeCarlo,
                  an associate professor in the Department of Environmental Health
                  and Engineering at Johns Hopkins University. Good morning, Professor.
                  Good morning. So what is it about the conditions right now that
                  have caused this round of wildfires to affect so many people so
                  far away? Well, there's a couple of things. The season has been
                  pretty dry already, and then the fact that we're getting hit in
                  the US is because there's a couple weather systems that are essentially
                  channeling the smoke from those Canadian wildfires through Pennsylvania
                  into the mid Atlantic and the Northeast and kind of just dropping
                  the smoke there. So what is it in this haze that makes it harmful?
                  And I'm assuming it is harmful. It is, it is. The levels outside
                  right now in Baltimore are considered unhealthy. And most of that
                  is due to what's called particulate matter, which are tiny particles,
                  microscopic, smaller than the width of your hair, that can get into
                  your lungs and impact your respiratory system, your cardiovascular
                  system, and even your neurological, your brain. What makes this
                  particularly harmful? Is it the volume of particulate? Is it something
                  in particular? What is it exactly? Can you just drill down on that
                  a little bit more? Yeah. So the concentration of particulate matter,
                  I was looking at some of the monitors that we have was reaching
                  levels of what are, in science speak, 150 micrograms per meter cubed,
                  which is more than 10 times what the annual average should be in
                  about four times higher than what you're supposed to have on a 24
                  hour average. And so the concentrations of these particles in the
                  air are just much, much, much higher than we typically see. And
                  exposure to those high levels can lead to a host of health problems.
                  And who is most vulnerable? I noticed that in New York City, for
                  example, they're canceling outdoor activities. And so here it is
                  in the early days of summer and they have to keep all the kids inside.
                  So who tends to be vulnerable in a situation like this? It's the
                  youngest. So children, obviously, whose bodies are still developing,
                  the elderly who are, you know, their bodies are more in decline
                  and they're more susceptible to the health impacts of breathing,
                  the poor air quality. And then people who have pre existing health
                  conditions, people with respiratory conditions or heart conditions,
                  can be triggered by high levels of air pollution. Could this get
                  worse? That's a good question. I mean, I think if in some areas
                  it's much worse than others and it just depends on kind of where
                  the smoke is concentrated. I think New York has some of the higher
                  concentrations right now, but that's going to change as that air
                  moves away from the New York area. But over the course of the next
                  few days, we will see different areas being hit at different times
                  with the highest concentrations. I was going to ask you about. More
                  fires start burning. I don't expect the concentrations to go up
                  too much higher. I was going to ask you how and you started to answer
                  this, but how much longer could this last? Forgive me if I'm asking
                  you to speculate, but what do you think? Well, I think the fires
                  are going to burn for a little bit longer. But the key for us in
                  the US Is the weather system changing. Right now it's the weather
                  systems that are pulling that air into our Mid Atlantic and Northeast
                  region. As those weather systems change and shift, we'll see that
                  smoke going elsewhere and not impact us in this region as much.
                  I think that's going to be the defining factor. I think the next
                  couple days we're going to see a shift in that weather pattern and
                  start to push the smoke away from where we are. And finally, with
                  the impacts of climate change, we are seeing more wildfires. Will
                  we be seeing more of these kinds of wide ranging air quality consequences
                  or circumstances? I mean, that is one of the predictions for climate
                  change. Looking into the future, the fire season is starting earlier
                  and lasting longer and we're seeing more frequent fires. So yeah,
                  this is probably something that we'll be seeing more, more frequently.
                  This tends to be much more of an issue in the western U.S. so the
                  eastern U.S. getting hit right now is a little bit new. But yeah,
                  I think with climate change moving forward, this is something that
                  is going to happen more frequently. That's Peter DeCarlo, associate
                  professor in the Department of Environmental Health and Engineering
                  at Johns Hopkins University. Professor DeCarlo, thanks so much for
                  joining us and sharing this expertise with us. Thank you for having
                  me.
                words:
                - text: Smoke
                  start: 240
                  end: 640
                  confidence: 0.90152997
                  speaker: A
                - text: from
                  start: 640
                  end: 1000
                  confidence: 0.9995117
                  speaker: A
                - text: hundreds
                  start: 1000
                  end: 1480
                  confidence: 0.99902344
                  speaker: A
                - text: of
                  start: 1480
                  end: 1640
                  confidence: 0.99902344
                  speaker: A
                - text: wildfires
                  start: 1640
                  end: 2320
                  confidence: 0.99970704
                  speaker: A
                - text: in
                  start: 2320
                  end: 2480
                  confidence: 0.9980469
                  speaker: A
                - text: Canada
                  start: 2480
                  end: 2800
                  confidence: 1.0
                  speaker: A
                - text: is
                  start: 3120
                  end: 3440
                  confidence: 0.99658203
                  speaker: A
                - text: triggering
                  start: 3440
                  end: 3920
                  confidence: 0.9998779
                  speaker: A
                - text: air
                  start: 3920
                  end: 4160
                  confidence: 1.0
                  speaker: A
                - text: quality
                  start: 4160
                  end: 4640
                  confidence: 0.78100586
                  speaker: A
                - text: alerts
                  start: 4640
                  end: 5120
                  confidence: 0.9013672
                  speaker: A
                - text: throughout
                  start: 5120
                  end: 5480
                  confidence: 0.9995117
                  speaker: A
                - text: the
                  start: 5480
                  end: 5680
                  confidence: 0.9995117
                  speaker: A
                - text: US
                  start: 5680
                  end: 6000
                  confidence: 0.9770508
                  speaker: A
                - text: Skylines
                  start: 6480
                  end: 7280
                  confidence: 0.9996338
                  speaker: A
                - text: from
                  start: 7280
                  end: 7440
                  confidence: 0.99853516
                  speaker: A
                - text: Maine
                  start: 7440
                  end: 7920
                  confidence: 0.84106445
                  speaker: A
                - text: to
                  start: 8000
                  end: 8280
                  confidence: 0.9975586
                  speaker: A
                - text: Maryland
                  start: 8280
                  end: 8680
                  confidence: 0.9978841
                  speaker: A
                - text: to
                  start: 8680
                  end: 8920
                  confidence: 0.99609375
                  speaker: A
                - text: Minnesota
                  start: 8920
                  end: 9640
                  confidence: 0.99975586
                  speaker: A
                - text: are
                  start: 9640
                  end: 9920
                  confidence: 0.99902344
                  speaker: A
                - text: gray
                  start: 9920
                  end: 10200
                  confidence: 0.7348633
                  speaker: A
                - text: and
                  start: 10200
                  end: 10400
                  confidence: 0.9995117
                  speaker: A
                - text: smoggy.
                  start: 10400
                  end: 11040
                  confidence: 0.9984131
                  speaker: A
                - text: And
                  start: 11040
                  end: 11360
                  confidence: 0.97021484
                  speaker: A
                - text: in
                  start: 11360
                  end: 11560
                  confidence: 0.99853516
                  speaker: A
                - text: some
                  start: 11560
                  end: 11760
                  confidence: 1.0
                  speaker: A
                - text: places,
                  start: 11760
                  end: 12120
                  confidence: 0.99902344
                  speaker: A
                - text: the
                  start: 12120
                  end: 12320
                  confidence: 0.9975586
                  speaker: A
                - text: air
                  start: 12320
                  end: 12560
                  confidence: 0.9995117
                  speaker: A
                - text: quality
                  start: 12560
                  end: 12960
                  confidence: 1.0
                  speaker: A
                - text: warnings
                  start: 12960
                  end: 13400
                  confidence: 0.99820966
                  speaker: A
                - text: include
                  start: 13400
                  end: 13680
                  confidence: 0.99902344
                  speaker: A
                - text: the
                  start: 13680
                  end: 13960
                  confidence: 0.9980469
                  speaker: A
                - text: warning
                  start: 13960
                  end: 14240
                  confidence: 0.9992676
                  speaker: A
                - text: to
                  start: 14240
                  end: 14480
                  confidence: 0.99902344
                  speaker: A
                - text: stay
                  start: 14480
                  end: 14800
                  confidence: 0.99902344
                  speaker: A
                - text: inside.
                  start: 14880
                  end: 15520
                  confidence: 1.0
                  speaker: A
                - text: We
                  start: 15919
                  end: 16199
                  confidence: 0.99853516
                  speaker: A
                - text: wanted
                  start: 16199
                  end: 16400
                  confidence: 0.99243164
                  speaker: A
                - text: to
                  start: 16400
                  end: 16520
                  confidence: 0.9975586
                  speaker: A
                - text: better
                  start: 16520
                  end: 16720
                  confidence: 0.9980469
                  speaker: A
                - text: understand
                  start: 16720
                  end: 17040
                  confidence: 0.9995117
                  speaker: A
                - text: what's
                  start: 17040
                  end: 17440
                  confidence: 0.9926758
                  speaker: A
                - text: happening
                  start: 17440
                  end: 17760
                  confidence: 0.8527832
                  speaker: A
                - text: here
                  start: 17760
                  end: 18000
                  confidence: 0.9970703
                  speaker: A
                - text: and
                  start: 18000
                  end: 18200
                  confidence: 0.99609375
                  speaker: A
                - text: why,
                  start: 18200
                  end: 18440
                  confidence: 0.9995117
                  speaker: A
                - text: so
                  start: 18440
                  end: 18640
                  confidence: 0.9863281
                  speaker: A
                - text: we
                  start: 18640
                  end: 18760
                  confidence: 0.9838867
                  speaker: A
                - text: called
                  start: 18760
                  end: 18920
                  confidence: 0.99560547
                  speaker: A
                - text: Peter
                  start: 18920
                  end: 19240
                  confidence: 0.9980469
                  speaker: A
                - text: DeCarlo,
                  start: 19240
                  end: 19920
                  confidence: 0.88265
                  speaker: A
                - text: an
                  start: 20000
                  end: 20280
                  confidence: 0.9604492
                  speaker: A
                - text: associate
                  start: 20280
                  end: 20720
                  confidence: 1.0
                  speaker: A
                - text: professor
                  start: 20720
                  end: 21160
                  confidence: 1.0
                  speaker: A
                - text: in
                  start: 21160
                  end: 21320
                  confidence: 0.99316406
                  speaker: A
                - text: the
                  start: 21320
                  end: 21480
                  confidence: 0.99853516
                  speaker: A
                - text: Department
                  start: 21480
                  end: 21760
                  confidence: 0.99902344
                  speaker: A
                - text: of
                  start: 21760
                  end: 22040
                  confidence: 0.9995117
                  speaker: A
                - text: Environmental
                  start: 22040
                  end: 22720
                  confidence: 0.9987793
                  speaker: A
                - text: Health
                  start: 22720
                  end: 22960
                  confidence: 0.9975586
                  speaker: A
                - text: and
                  start: 22960
                  end: 23200
                  confidence: 0.9951172
                  speaker: A
                - text: Engineering
                  start: 23200
                  end: 23680
                  confidence: 1.0
                  speaker: A
                - text: at
                  start: 23680
                  end: 23920
                  confidence: 0.99853516
                  speaker: A
                - text: Johns
                  start: 23920
                  end: 24360
                  confidence: 0.9733887
                  speaker: A
                - text: Hopkins
                  start: 24360
                  end: 24840
                  confidence: 1.0
                  speaker: A
                - text: University.
                  start: 24840
                  end: 25200
                  confidence: 0.9995117
                  speaker: A
                - text: Good
                  start: 25520
                  end: 25800
                  confidence: 0.9995117
                  speaker: A
                - text: morning,
                  start: 25800
                  end: 26000
                  confidence: 1.0
                  speaker: A
                - text: Professor.
                  start: 26000
                  end: 26560
                  confidence: 0.9995117
                  speaker: A
                - text: Good
                  start: 28060
                  end: 28260
                  confidence: 0.96484375
                  speaker: B
                - text: morning.
                  start: 28260
                  end: 28620
                  confidence: 0.9995117
                  speaker: B
                - text: So
                  start: 29100
                  end: 29500
                  confidence: 0.6220703
                  speaker: A
                - text: what
                  start: 29660
                  end: 29940
                  confidence: 0.9995117
                  speaker: A
                - text: is
                  start: 29940
                  end: 30100
                  confidence: 0.9980469
                  speaker: A
                - text: it
                  start: 30100
                  end: 30260
                  confidence: 0.9941406
                  speaker: A
                - text: about
                  start: 30260
                  end: 30500
                  confidence: 0.9995117
                  speaker: A
                - text: the
                  start: 30500
                  end: 30740
                  confidence: 0.99853516
                  speaker: A
                - text: conditions
                  start: 30740
                  end: 31260
                  confidence: 1.0
                  speaker: A
                - text: right
                  start: 31260
                  end: 31660
                  confidence: 0.99902344
                  speaker: A
                - text: now
                  start: 31660
                  end: 32060
                  confidence: 0.9995117
                  speaker: A
                - text: that
                  start: 32140
                  end: 32420
                  confidence: 0.99902344
                  speaker: A
                - text: have
                  start: 32420
                  end: 32620
                  confidence: 0.99121094
                  speaker: A
                - text: caused
                  start: 32620
                  end: 32980
                  confidence: 0.9707031
                  speaker: A
                - text: this
                  start: 32980
                  end: 33260
                  confidence: 0.99853516
                  speaker: A
                - text: round
                  start: 33260
                  end: 33500
                  confidence: 1.0
                  speaker: A
                - text: of
                  start: 33500
                  end: 33740
                  confidence: 0.9995117
                  speaker: A
                - text: wildfires
                  start: 33740
                  end: 34540
                  confidence: 0.9995117
                  speaker: A
                - text: to
                  start: 34540
                  end: 34700
                  confidence: 0.99853516
                  speaker: A
                - text: affect
                  start: 34700
                  end: 35140
                  confidence: 0.9914551
                  speaker: A
                - text: so
                  start: 35140
                  end: 35380
                  confidence: 0.99902344
                  speaker: A
                - text: many
                  start: 35380
                  end: 35580
                  confidence: 0.9995117
                  speaker: A
                - text: people
                  start: 35580
                  end: 35900
                  confidence: 0.9995117
                  speaker: A
                - text: so
                  start: 36300
                  end: 36580
                  confidence: 1.0
                  speaker: A
                - text: far
                  start: 36580
                  end: 36780
                  confidence: 1.0
                  speaker: A
                - text: away?
                  start: 36780
                  end: 37100
                  confidence: 0.9975586
                  speaker: A
                - text: Well,
                  start: 39100
                  end: 39380
                  confidence: 0.9394531
                  speaker: B
                - text: there's
                  start: 39380
                  end: 39580
                  confidence: 0.98844403
                  speaker: B
                - text: a
                  start: 39580
                  end: 39660
                  confidence: 0.99902344
                  speaker: B
                - text: couple
                  start: 39660
                  end: 39860
                  confidence: 0.99902344
                  speaker: B
                - text: of
                  start: 39860
                  end: 40020
                  confidence: 0.94628906
                  speaker: B
                - text: things.
                  start: 40020
                  end: 40300
                  confidence: 0.9428711
                  speaker: B
                - text: The
                  start: 41020
                  end: 41340
                  confidence: 0.99853516
                  speaker: B
                - text: season
                  start: 41340
                  end: 41620
                  confidence: 1.0
                  speaker: B
                - text: has
                  start: 41620
                  end: 41820
                  confidence: 0.9980469
                  speaker: B
                - text: been
                  start: 41820
                  end: 41940
                  confidence: 0.99853516
                  speaker: B
                - text: pretty
                  start: 41940
                  end: 42140
                  confidence: 0.99902344
                  speaker: B
                - text: dry
                  start: 42140
                  end: 42340
                  confidence: 0.9995117
                  speaker: B
                - text: already,
                  start: 42340
                  end: 42620
                  confidence: 0.99853516
                  speaker: B
                - text: and
                  start: 43020
                  end: 43340
                  confidence: 0.9794922
                  speaker: B
                - text: then
                  start: 43340
                  end: 43660
                  confidence: 0.9892578
                  speaker: B
                - text: the
                  start: 43660
                  end: 43940
                  confidence: 0.99902344
                  speaker: B
                - text: fact
                  start: 43940
                  end: 44100
                  confidence: 1.0
                  speaker: B
                - text: that
                  start: 44100
                  end: 44260
                  confidence: 0.99609375
                  speaker: B
                - text: we're
                  start: 44260
                  end: 44500
                  confidence: 0.8828125
                  speaker: B
                - text: getting
                  start: 44500
                  end: 44740
                  confidence: 0.9995117
                  speaker: B
                - text: hit
                  start: 44740
                  end: 44980
                  confidence: 0.9995117
                  speaker: B
                - text: in
                  start: 44980
                  end: 45140
                  confidence: 0.99902344
                  speaker: B
                - text: the
                  start: 45140
                  end: 45300
                  confidence: 0.9995117
                  speaker: B
                - text: US
                  start: 45300
                  end: 45580
                  confidence: 0.9863281
                  speaker: B
                - text: is
                  start: 46140
                  end: 46460
                  confidence: 0.9975586
                  speaker: B
                - text: because
                  start: 46460
                  end: 46700
                  confidence: 0.99902344
                  speaker: B
                - text: there's
                  start: 46700
                  end: 47020
                  confidence: 0.99316406
                  speaker: B
                - text: a
                  start: 47020
                  end: 47100
                  confidence: 0.99902344
                  speaker: B
                - text: couple
                  start: 47100
                  end: 47340
                  confidence: 0.9975586
                  speaker: B
                - text: weather
                  start: 47340
                  end: 47660
                  confidence: 0.9992676
                  speaker: B
                - text: systems
                  start: 47660
                  end: 47980
                  confidence: 0.9987793
                  speaker: B
                - text: that
                  start: 47980
                  end: 48060
                  confidence: 0.9941406
                  speaker: B
                - text: are
                  start: 48060
                  end: 48180
                  confidence: 0.99658203
                  speaker: B
                - text: essentially
                  start: 48180
                  end: 48580
                  confidence: 0.99853516
                  speaker: B
                - text: channeling
                  start: 48580
                  end: 49020
                  confidence: 0.970459
                  speaker: B
                - text: the
                  start: 49020
                  end: 49140
                  confidence: 0.98828125
                  speaker: B
                - text: smoke
                  start: 49140
                  end: 49380
                  confidence: 0.9682617
                  speaker: B
                - text: from
                  start: 49380
                  end: 49540
                  confidence: 0.99902344
                  speaker: B
                - text: those
                  start: 49540
                  end: 49700
                  confidence: 0.96875
                  speaker: B
                - text: Canadian
                  start: 49700
                  end: 50100
                  confidence: 0.99902344
                  speaker: B
                - text: wildfires
                  start: 50100
                  end: 50780
                  confidence: 0.9993164
                  speaker: B
                - text: through
                  start: 51260
                  end: 51620
                  confidence: 0.9995117
                  speaker: B
                - text: Pennsylvania
                  start: 51620
                  end: 52340
                  confidence: 0.9989692
                  speaker: B
                - text: into
                  start: 52340
                  end: 52500
                  confidence: 0.9980469
                  speaker: B
                - text: the
                  start: 52500
                  end: 52660
                  confidence: 0.99902344
                  speaker: B
                - text: mid
                  start: 52660
                  end: 52820
                  confidence: 0.9995117
                  speaker: B
                - text: Atlantic
                  start: 52820
                  end: 53180
                  confidence: 0.99902344
                  speaker: B
                - text: and
                  start: 53180
                  end: 53300
                  confidence: 0.52978516
                  speaker: B
                - text: the
                  start: 53300
                  end: 53420
                  confidence: 0.9785156
                  speaker: B
                - text: Northeast
                  start: 53420
                  end: 53860
                  confidence: 0.9975586
                  speaker: B
                - text: and
                  start: 53860
                  end: 54140
                  confidence: 0.8803711
                  speaker: B
                - text: kind
                  start: 54220
                  end: 54460
                  confidence: 0.8515625
                  speaker: B
                - text: of
                  start: 54460
                  end: 54580
                  confidence: 0.98779297
                  speaker: B
                - text: just
                  start: 54580
                  end: 54740
                  confidence: 0.98583984
                  speaker: B
                - text: dropping
                  start: 54740
                  end: 55140
                  confidence: 0.99975586
                  speaker: B
                - text: the
                  start: 55140
                  end: 55260
                  confidence: 0.9824219
                  speaker: B
                - text: smoke
                  start: 55260
                  end: 55540
                  confidence: 0.99902344
                  speaker: B
                - text: there.
                  start: 55540
                  end: 55820
                  confidence: 0.9975586
                  speaker: B
                - text: So
                  start: 56590
                  end: 56670
                  confidence: 0.8666992
                  speaker: A
                - text: what
                  start: 56670
                  end: 56790
                  confidence: 0.9995117
                  speaker: A
                - text: is
                  start: 56790
                  end: 56950
                  confidence: 0.9980469
                  speaker: A
                - text: it
                  start: 56950
                  end: 57110
                  confidence: 0.9814453
                  speaker: A
                - text: in
                  start: 57110
                  end: 57270
                  confidence: 0.9980469
                  speaker: A
                - text: this
                  start: 57270
                  end: 57470
                  confidence: 0.99853516
                  speaker: A
                - text: haze
                  start: 57470
                  end: 57910
                  confidence: 0.9347331
                  speaker: A
                - text: that
                  start: 57910
                  end: 58110
                  confidence: 0.99902344
                  speaker: A
                - text: makes
                  start: 58110
                  end: 58430
                  confidence: 0.99902344
                  speaker: A
                - text: it
                  start: 58510
                  end: 58830
                  confidence: 0.99853516
                  speaker: A
                - text: harmful?
                  start: 58830
                  end: 59310
                  confidence: 0.9998372
                  speaker: A
                - text: And
                  start: 59310
                  end: 59470
                  confidence: 0.71435547
                  speaker: A
                - text: I'm
                  start: 59470
                  end: 59670
                  confidence: 0.98307294
                  speaker: A
                - text: assuming
                  start: 59670
                  end: 59990
                  confidence: 1.0
                  speaker: A
                - text: it
                  start: 59990
                  end: 60110
                  confidence: 0.99902344
                  speaker: A
                - text: is
                  start: 60110
                  end: 60230
                  confidence: 0.99853516
                  speaker: A
                - text: harmful.
                  start: 60230
                  end: 60670
                  confidence: 0.91780597
                  speaker: A
                - text: It
                  start: 62350
                  end: 62630
                  confidence: 0.9238281
                  speaker: B
                - text: is,
                  start: 62630
                  end: 62870
                  confidence: 0.99316406
                  speaker: B
                - text: it
                  start: 62870
                  end: 63110
                  confidence: 0.8666992
                  speaker: B
                - text: is.
                  start: 63110
                  end: 63350
                  confidence: 0.9995117
                  speaker: B
                - text: The
                  start: 63350
                  end: 63590
                  confidence: 0.99560547
                  speaker: B
                - text: levels
                  start: 63590
                  end: 64030
                  confidence: 0.9995117
                  speaker: B
                - text: outside
                  start: 64030
                  end: 64430
                  confidence: 0.9995117
                  speaker: B
                - text: right
                  start: 64510
                  end: 64790
                  confidence: 0.9980469
                  speaker: B
                - text: now
                  start: 64790
                  end: 64950
                  confidence: 0.9995117
                  speaker: B
                - text: in
                  start: 64950
                  end: 65110
                  confidence: 0.99658203
                  speaker: B
                - text: Baltimore
                  start: 65110
                  end: 65590
                  confidence: 0.9998047
                  speaker: B
                - text: are
                  start: 65590
                  end: 65750
                  confidence: 0.99658203
                  speaker: B
                - text: considered
                  start: 65750
                  end: 66070
                  confidence: 0.99975586
                  speaker: B
                - text: unhealthy.
                  start: 66070
                  end: 66750
                  confidence: 0.99902344
                  speaker: B
                - text: And
                  start: 67790
                  end: 68110
                  confidence: 0.67822266
                  speaker: B
                - text: most
                  start: 68110
                  end: 68310
                  confidence: 0.9995117
                  speaker: B
                - text: of
                  start: 68310
                  end: 68470
                  confidence: 0.99902344
                  speaker: B
                - text: that
                  start: 68470
                  end: 68630
                  confidence: 0.99902344
                  speaker: B
                - text: is
                  start: 68630
                  end: 68790
                  confidence: 0.9995117
                  speaker: B
                - text: due
                  start: 68790
                  end: 68990
                  confidence: 0.9995117
                  speaker: B
                - text: to
                  start: 68990
                  end: 69270
                  confidence: 0.99902344
                  speaker: B
                - text: what's
                  start: 69270
                  end: 69630
                  confidence: 0.9916992
                  speaker: B
                - text: called
                  start: 69630
                  end: 69750
                  confidence: 1.0
                  speaker: B
                - text: particulate
                  start: 69750
                  end: 70310
                  confidence: 0.99886066
                  speaker: B
                - text: matter,
                  start: 70310
                  end: 70470
                  confidence: 0.9995117
                  speaker: B
                - text: which
                  start: 70470
                  end: 70670
                  confidence: 0.9970703
                  speaker: B
                - text: are
                  start: 70670
                  end: 70870
                  confidence: 0.99902344
                  speaker: B
                - text: tiny
                  start: 70870
                  end: 71190
                  confidence: 1.0
                  speaker: B
                - text: particles,
                  start: 71190
                  end: 71630
                  confidence: 0.7578125
                  speaker: B
                - text: microscopic,
                  start: 72110
                  end: 72910
                  confidence: 0.97957355
                  speaker: B
                - text: smaller
                  start: 72910
                  end: 73310
                  confidence: 0.9995117
                  speaker: B
                - text: than
                  start: 73310
                  end: 73390
                  confidence: 0.99902344
                  speaker: B
                - text: the
                  start: 73390
                  end: 73470
                  confidence: 0.99902344
                  speaker: B
                - text: width
                  start: 73470
                  end: 73670
                  confidence: 0.9995117
                  speaker: B
                - text: of
                  start: 73670
                  end: 73950
                  confidence: 0.98095703
                  speaker: B
                - text: your
                  start: 73950
                  end: 74270
                  confidence: 0.9995117
                  speaker: B
                - text: hair,
                  start: 74270
                  end: 74670
                  confidence: 0.99975586
                  speaker: B
                - text: that
                  start: 75230
                  end: 75550
                  confidence: 0.9995117
                  speaker: B
                - text: can
                  start: 75550
                  end: 75750
                  confidence: 0.99902344
                  speaker: B
                - text: get
                  start: 75750
                  end: 75910
                  confidence: 1.0
                  speaker: B
                - text: into
                  start: 75910
                  end: 76070
                  confidence: 0.99853516
                  speaker: B
                - text: your
                  start: 76070
                  end: 76230
                  confidence: 0.9995117
                  speaker: B
                - text: lungs
                  start: 76230
                  end: 76550
                  confidence: 1.0
                  speaker: B
                - text: and
                  start: 76550
                  end: 76830
                  confidence: 0.9145508
                  speaker: B
                - text: impact
                  start: 76910
                  end: 77270
                  confidence: 1.0
                  speaker: B
                - text: your
                  start: 77270
                  end: 77590
                  confidence: 0.9995117
                  speaker: B
                - text: respiratory
                  start: 77590
                  end: 78150
                  confidence: 0.99886066
                  speaker: B
                - text: system,
                  start: 78150
                  end: 78470
                  confidence: 0.9995117
                  speaker: B
                - text: your
                  start: 78470
                  end: 78710
                  confidence: 0.99316406
                  speaker: B
                - text: cardiovascular
                  start: 78710
                  end: 79470
                  confidence: 0.99958146
                  speaker: B
                - text: system,
                  start: 79470
                  end: 79790
                  confidence: 1.0
                  speaker: B
                - text: and
                  start: 80430
                  end: 80710
                  confidence: 0.99121094
                  speaker: B
                - text: even
                  start: 80710
                  end: 80910
                  confidence: 0.9995117
                  speaker: B
                - text: your
                  start: 80910
                  end: 81230
                  confidence: 0.53027344
                  speaker: B
                - text: neurological,
                  start: 81310
                  end: 82030
                  confidence: 0.99768066
                  speaker: B
                - text: your
                  start: 82030
                  end: 82230
                  confidence: 0.9746094
                  speaker: B
                - text: brain.
                  start: 82230
                  end: 82590
                  confidence: 0.9992676
                  speaker: B
                - text: What
                  start: 83630
                  end: 83790
                  confidence: 0.99609375
                  speaker: A
                - text: makes
                  start: 83790
                  end: 83990
                  confidence: 0.99902344
                  speaker: A
                - text: this
                  start: 83990
                  end: 84190
                  confidence: 0.9423828
                  speaker: A
                - text: particularly
                  start: 84190
                  end: 84990
                  confidence: 0.9992676
                  speaker: A
                - text: harmful?
                  start: 84990
                  end: 85550
                  confidence: 0.9998372
                  speaker: A
                - text: Is
                  start: 85550
                  end: 85750
                  confidence: 0.9980469
                  speaker: A
                - text: it
                  start: 85750
                  end: 85870
                  confidence: 0.9946289
                  speaker: A
                - text: the
                  start: 85870
                  end: 86110
                  confidence: 0.59228516
                  speaker: A
                - text: volume
                  start: 86670
                  end: 87150
                  confidence: 0.8741862
                  speaker: A
                - text: of
                  start: 87150
                  end: 87390
                  confidence: 0.9995117
                  speaker: A
                - text: particulate?
                  start: 87390
                  end: 88030
                  confidence: 0.8585612
                  speaker: A
                - text: Is
                  start: 88030
                  end: 88230
                  confidence: 0.9892578
                  speaker: A
                - text: it
                  start: 88230
                  end: 88390
                  confidence: 0.99609375
                  speaker: A
                - text: something
                  start: 88390
                  end: 88590
                  confidence: 0.99902344
                  speaker: A
                - text: in
                  start: 88590
                  end: 88790
                  confidence: 0.96435547
                  speaker: A
                - text: particular?
                  start: 88790
                  end: 89070
                  confidence: 0.97753906
                  speaker: A
                - text: What
                  start: 89390
                  end: 89670
                  confidence: 0.9975586
                  speaker: A
                - text: is
                  start: 89670
                  end: 89790
                  confidence: 0.99902344
                  speaker: A
                - text: it
                  start: 89790
                  end: 89910
                  confidence: 0.9946289
                  speaker: A
                - text: exactly?
                  start: 89910
                  end: 90350
                  confidence: 0.92545575
                  speaker: A
                - text: Can
                  start: 90350
                  end: 90510
                  confidence: 0.99902344
                  speaker: A
                - text: you
                  start: 90510
                  end: 90590
                  confidence: 1.0
                  speaker: A
                - text: just
                  start: 90590
                  end: 90790
                  confidence: 0.98095703
                  speaker: A
                - text: drill
                  start: 90790
                  end: 91070
                  confidence: 1.0
                  speaker: A
                - text: down
                  start: 91070
                  end: 91190
                  confidence: 1.0
                  speaker: A
                - text: 'on'
                  start: 91190
                  end: 91350
                  confidence: 0.9980469
                  speaker: A
                - text: that
                  start: 91350
                  end: 91510
                  confidence: 0.99902344
                  speaker: A
                - text: a
                  start: 91510
                  end: 91630
                  confidence: 0.9980469
                  speaker: A
                - text: little
                  start: 91630
                  end: 91750
                  confidence: 0.9995117
                  speaker: A
                - text: bit
                  start: 91750
                  end: 91910
                  confidence: 0.9970703
                  speaker: A
                - text: more?
                  start: 91910
                  end: 92190
                  confidence: 0.99902344
                  speaker: A
                - text: Yeah.
                  start: 93550
                  end: 93950
                  confidence: 0.9145508
                  speaker: B
                - text: So
                  start: 93950
                  end: 94150
                  confidence: 0.5620117
                  speaker: B
                - text: the
                  start: 94150
                  end: 94310
                  confidence: 0.9995117
                  speaker: B
                - text: concentration
                  start: 94310
                  end: 94830
                  confidence: 1.0
                  speaker: B
                - text: of
                  start: 94830
                  end: 95070
                  confidence: 1.0
                  speaker: B
                - text: particulate
                  start: 95070
                  end: 95630
                  confidence: 0.99934894
                  speaker: B
                - text: matter,
                  start: 95630
                  end: 95950
                  confidence: 0.9995117
                  speaker: B
                - text: I
                  start: 96350
                  end: 96590
                  confidence: 0.99316406
                  speaker: B
                - text: was
                  start: 96590
                  end: 96710
                  confidence: 0.99902344
                  speaker: B
                - text: looking
                  start: 96710
                  end: 96870
                  confidence: 0.99902344
                  speaker: B
                - text: at
                  start: 96870
                  end: 96990
                  confidence: 0.9995117
                  speaker: B
                - text: some
                  start: 96990
                  end: 97110
                  confidence: 0.99853516
                  speaker: B
                - text: of
                  start: 97110
                  end: 97230
                  confidence: 0.99853516
                  speaker: B
                - text: the
                  start: 97230
                  end: 97310
                  confidence: 0.9995117
                  speaker: B
                - text: monitors
                  start: 97310
                  end: 97630
                  confidence: 0.99934894
                  speaker: B
                - text: that
                  start: 97630
                  end: 97750
                  confidence: 0.9824219
                  speaker: B
                - text: we
                  start: 97750
                  end: 97910
                  confidence: 0.99560547
                  speaker: B
                - text: have
                  start: 97910
                  end: 98190
                  confidence: 0.94677734
                  speaker: B
                - text: was
                  start: 98270
                  end: 98550
                  confidence: 0.9838867
                  speaker: B
                - text: reaching
                  start: 98550
                  end: 98869
                  confidence: 1.0
                  speaker: B
                - text: levels
                  start: 98869
                  end: 99150
                  confidence: 1.0
                  speaker: B
                - text: of
                  start: 99150
                  end: 99270
                  confidence: 0.9921875
                  speaker: B
                - text: what
                  start: 99270
                  end: 99430
                  confidence: 0.88671875
                  speaker: B
                - text: are,
                  start: 99430
                  end: 99710
                  confidence: 0.97509766
                  speaker: B
                - text: in
                  start: 100910
                  end: 101190
                  confidence: 0.9838867
                  speaker: B
                - text: science
                  start: 101190
                  end: 101430
                  confidence: 0.99731445
                  speaker: B
                - text: speak,
                  start: 101430
                  end: 101710
                  confidence: 0.8635254
                  speaker: B
                - text: '150'
                  start: 101710
                  end: 102350
                  confidence: 0.98551
                  speaker: B
                - text: micrograms
                  start: 102350
                  end: 102910
                  confidence: 0.9963379
                  speaker: B
                - text: per
                  start: 102910
                  end: 103030
                  confidence: 0.9941406
                  speaker: B
                - text: meter
                  start: 103030
                  end: 103350
                  confidence: 0.99853516
                  speaker: B
                - text: cubed,
                  start: 103350
                  end: 103670
                  confidence: 0.9954427
                  speaker: B
                - text: which
                  start: 103670
                  end: 103830
                  confidence: 1.0
                  speaker: B
                - text: is
                  start: 103830
                  end: 104110
                  confidence: 0.9995117
                  speaker: B
                - text: more
                  start: 104270
                  end: 104550
                  confidence: 1.0
                  speaker: B
                - text: than
                  start: 104550
                  end: 104790
                  confidence: 0.9995117
                  speaker: B
                - text: '10'
                  start: 104790
                  end: 105110
                  confidence: 1.0
                  speaker: B
                - text: times
                  start: 105110
                  end: 105390
                  confidence: 0.9980469
                  speaker: B
                - text: what
                  start: 105390
                  end: 105590
                  confidence: 0.99365234
                  speaker: B
                - text: the
                  start: 105590
                  end: 105750
                  confidence: 1.0
                  speaker: B
                - text: annual
                  start: 105750
                  end: 106110
                  confidence: 1.0
                  speaker: B
                - text: average
                  start: 106110
                  end: 106510
                  confidence: 1.0
                  speaker: B
                - text: should
                  start: 106510
                  end: 106790
                  confidence: 0.9995117
                  speaker: B
                - text: be
                  start: 106790
                  end: 107150
                  confidence: 0.9970703
                  speaker: B
                - text: in
                  start: 107390
                  end: 107670
                  confidence: 0.87841797
                  speaker: B
                - text: about
                  start: 107670
                  end: 107950
                  confidence: 0.9711914
                  speaker: B
                - text: four
                  start: 109110
                  end: 109270
                  confidence: 0.98046875
                  speaker: B
                - text: times
                  start: 109270
                  end: 109550
                  confidence: 0.99902344
                  speaker: B
                - text: higher
                  start: 109550
                  end: 109790
                  confidence: 1.0
                  speaker: B
                - text: than
                  start: 109790
                  end: 109950
                  confidence: 0.9980469
                  speaker: B
                - text: what
                  start: 109950
                  end: 110070
                  confidence: 0.9975586
                  speaker: B
                - text: you're
                  start: 110070
                  end: 110270
                  confidence: 0.99316406
                  speaker: B
                - text: supposed
                  start: 110270
                  end: 110510
                  confidence: 0.998291
                  speaker: B
                - text: to
                  start: 110510
                  end: 110670
                  confidence: 0.99902344
                  speaker: B
                - text: have
                  start: 110670
                  end: 110950
                  confidence: 1.0
                  speaker: B
                - text: 'on'
                  start: 111350
                  end: 111670
                  confidence: 1.0
                  speaker: B
                - text: a
                  start: 111670
                  end: 111910
                  confidence: 0.9975586
                  speaker: B
                - text: '24'
                  start: 111910
                  end: 112390
                  confidence: 1.0
                  speaker: B
                - text: hour
                  start: 112390
                  end: 112630
                  confidence: 0.99853516
                  speaker: B
                - text: average.
                  start: 112630
                  end: 113110
                  confidence: 0.99975586
                  speaker: B
                - text: And
                  start: 113350
                  end: 113710
                  confidence: 0.8989258
                  speaker: B
                - text: so
                  start: 113710
                  end: 114070
                  confidence: 0.99853516
                  speaker: B
                - text: the
                  start: 114070
                  end: 114390
                  confidence: 0.99853516
                  speaker: B
                - text: concentrations
                  start: 114390
                  end: 115110
                  confidence: 0.99816895
                  speaker: B
                - text: of
                  start: 115110
                  end: 115230
                  confidence: 0.99902344
                  speaker: B
                - text: these
                  start: 115230
                  end: 115390
                  confidence: 0.99902344
                  speaker: B
                - text: particles
                  start: 115390
                  end: 115710
                  confidence: 0.9970703
                  speaker: B
                - text: in
                  start: 115710
                  end: 115830
                  confidence: 0.9995117
                  speaker: B
                - text: the
                  start: 115830
                  end: 115950
                  confidence: 0.98583984
                  speaker: B
                - text: air
                  start: 115950
                  end: 116230
                  confidence: 0.9995117
                  speaker: B
                - text: are
                  start: 116550
                  end: 116870
                  confidence: 0.99902344
                  speaker: B
                - text: just
                  start: 116870
                  end: 117190
                  confidence: 0.9838867
                  speaker: B
                - text: much,
                  start: 117350
                  end: 117710
                  confidence: 0.9873047
                  speaker: B
                - text: much,
                  start: 117710
                  end: 117950
                  confidence: 1.0
                  speaker: B
                - text: much
                  start: 117950
                  end: 118150
                  confidence: 1.0
                  speaker: B
                - text: higher
                  start: 118150
                  end: 118350
                  confidence: 1.0
                  speaker: B
                - text: than
                  start: 118350
                  end: 118630
                  confidence: 0.9970703
                  speaker: B
                - text: we
                  start: 118630
                  end: 118910
                  confidence: 0.99902344
                  speaker: B
                - text: typically
                  start: 118910
                  end: 119270
                  confidence: 1.0
                  speaker: B
                - text: see.
                  start: 119270
                  end: 119590
                  confidence: 1.0
                  speaker: B
                - text: And
                  start: 119750
                  end: 120110
                  confidence: 0.98291016
                  speaker: B
                - text: exposure
                  start: 120110
                  end: 120710
                  confidence: 0.9996745
                  speaker: B
                - text: to
                  start: 120710
                  end: 120910
                  confidence: 0.9995117
                  speaker: B
                - text: those
                  start: 120910
                  end: 121110
                  confidence: 0.99560547
                  speaker: B
                - text: high
                  start: 121110
                  end: 121350
                  confidence: 0.99902344
                  speaker: B
                - text: levels
                  start: 121350
                  end: 121710
                  confidence: 0.99975586
                  speaker: B
                - text: can
                  start: 121710
                  end: 121870
                  confidence: 0.99902344
                  speaker: B
                - text: lead
                  start: 121870
                  end: 122030
                  confidence: 1.0
                  speaker: B
                - text: to
                  start: 122030
                  end: 122150
                  confidence: 0.9995117
                  speaker: B
                - text: a
                  start: 122150
                  end: 122270
                  confidence: 0.9970703
                  speaker: B
                - text: host
                  start: 122270
                  end: 122430
                  confidence: 0.9995117
                  speaker: B
                - text: of
                  start: 122430
                  end: 122630
                  confidence: 0.99902344
                  speaker: B
                - text: health
                  start: 122630
                  end: 122870
                  confidence: 0.9995117
                  speaker: B
                - text: problems.
                  start: 122870
                  end: 123350
                  confidence: 0.9995117
                  speaker: B
                - text: And
                  start: 123430
                  end: 123710
                  confidence: 0.94970703
                  speaker: A
                - text: who
                  start: 123710
                  end: 123870
                  confidence: 0.9995117
                  speaker: A
                - text: is
                  start: 123870
                  end: 124070
                  confidence: 0.9975586
                  speaker: A
                - text: most
                  start: 124070
                  end: 124310
                  confidence: 0.99902344
                  speaker: A
                - text: vulnerable?
                  start: 124310
                  end: 124949
                  confidence: 1.0
                  speaker: A
                - text: I
                  start: 124949
                  end: 125230
                  confidence: 0.9975586
                  speaker: A
                - text: noticed
                  start: 125230
                  end: 125510
                  confidence: 0.882487
                  speaker: A
                - text: that
                  start: 125510
                  end: 125630
                  confidence: 0.97998047
                  speaker: A
                - text: in
                  start: 125630
                  end: 125750
                  confidence: 0.99853516
                  speaker: A
                - text: New
                  start: 125750
                  end: 125870
                  confidence: 0.9975586
                  speaker: A
                - text: York
                  start: 125870
                  end: 126030
                  confidence: 1.0
                  speaker: A
                - text: City,
                  start: 126030
                  end: 126190
                  confidence: 0.99902344
                  speaker: A
                - text: for
                  start: 126190
                  end: 126350
                  confidence: 0.99658203
                  speaker: A
                - text: example,
                  start: 126350
                  end: 126750
                  confidence: 0.96435547
                  speaker: A
                - text: they're
                  start: 126750
                  end: 127190
                  confidence: 0.9485677
                  speaker: A
                - text: canceling
                  start: 127190
                  end: 127790
                  confidence: 0.87597656
                  speaker: A
                - text: outdoor
                  start: 127790
                  end: 128190
                  confidence: 0.9984131
                  speaker: A
                - text: activities.
                  start: 128190
                  end: 128670
                  confidence: 0.99975586
                  speaker: A
                - text: And
                  start: 128670
                  end: 128990
                  confidence: 0.9458008
                  speaker: A
                - text: so
                  start: 128990
                  end: 129230
                  confidence: 0.99560547
                  speaker: A
                - text: here
                  start: 129230
                  end: 129390
                  confidence: 0.99902344
                  speaker: A
                - text: it
                  start: 129390
                  end: 129510
                  confidence: 0.9970703
                  speaker: A
                - text: is
                  start: 129510
                  end: 129630
                  confidence: 0.9975586
                  speaker: A
                - text: in
                  start: 129630
                  end: 129910
                  confidence: 0.94921875
                  speaker: A
                - text: the
                  start: 130070
                  end: 130470
                  confidence: 0.85595703
                  speaker: A
                - text: early
                  start: 130550
                  end: 130830
                  confidence: 0.9995117
                  speaker: A
                - text: days
                  start: 130830
                  end: 130990
                  confidence: 1.0
                  speaker: A
                - text: of
                  start: 130990
                  end: 131150
                  confidence: 0.99853516
                  speaker: A
                - text: summer
                  start: 131150
                  end: 131390
                  confidence: 0.9995117
                  speaker: A
                - text: and
                  start: 131390
                  end: 131510
                  confidence: 0.9663086
                  speaker: A
                - text: they
                  start: 131510
                  end: 131630
                  confidence: 0.9296875
                  speaker: A
                - text: have
                  start: 131630
                  end: 131750
                  confidence: 0.99853516
                  speaker: A
                - text: to
                  start: 131750
                  end: 131830
                  confidence: 0.9980469
                  speaker: A
                - text: keep
                  start: 131830
                  end: 131950
                  confidence: 0.9995117
                  speaker: A
                - text: all
                  start: 131950
                  end: 132110
                  confidence: 0.9970703
                  speaker: A
                - text: the
                  start: 132110
                  end: 132230
                  confidence: 0.9902344
                  speaker: A
                - text: kids
                  start: 132230
                  end: 132470
                  confidence: 0.9995117
                  speaker: A
                - text: inside.
                  start: 132470
                  end: 132950
                  confidence: 0.99975586
                  speaker: A
                - text: So
                  start: 132950
                  end: 133350
                  confidence: 0.95214844
                  speaker: A
                - text: who
                  start: 133350
                  end: 133670
                  confidence: 1.0
                  speaker: A
                - text: tends
                  start: 133670
                  end: 133950
                  confidence: 0.99902344
                  speaker: A
                - text: to
                  start: 133950
                  end: 134110
                  confidence: 0.9995117
                  speaker: A
                - text: be
                  start: 134110
                  end: 134270
                  confidence: 0.99902344
                  speaker: A
                - text: vulnerable
                  start: 134270
                  end: 134670
                  confidence: 1.0
                  speaker: A
                - text: in
                  start: 134670
                  end: 134830
                  confidence: 0.9926758
                  speaker: A
                - text: a
                  start: 134830
                  end: 134990
                  confidence: 0.99609375
                  speaker: A
                - text: situation
                  start: 134990
                  end: 135430
                  confidence: 1.0
                  speaker: A
                - text: like
                  start: 135510
                  end: 135750
                  confidence: 0.99853516
                  speaker: A
                - text: this?
                  start: 135750
                  end: 135990
                  confidence: 0.99658203
                  speaker: A
                - text: It's
                  start: 137610
                  end: 137930
                  confidence: 0.9005534
                  speaker: B
                - text: the
                  start: 137930
                  end: 138250
                  confidence: 0.5307617
                  speaker: B
                - text: youngest.
                  start: 138250
                  end: 138810
                  confidence: 0.9851074
                  speaker: B
                - text: So
                  start: 138810
                  end: 139090
                  confidence: 0.6489258
                  speaker: B
                - text: children,
                  start: 139090
                  end: 139330
                  confidence: 1.0
                  speaker: B
                - text: obviously,
                  start: 139330
                  end: 140010
                  confidence: 0.99886066
                  speaker: B
                - text: whose
                  start: 140890
                  end: 141450
                  confidence: 0.79467773
                  speaker: B
                - text: bodies
                  start: 141450
                  end: 141730
                  confidence: 0.99886066
                  speaker: B
                - text: are
                  start: 141730
                  end: 141850
                  confidence: 0.9995117
                  speaker: B
                - text: still
                  start: 141850
                  end: 141970
                  confidence: 0.9995117
                  speaker: B
                - text: developing,
                  start: 141970
                  end: 142450
                  confidence: 1.0
                  speaker: B
                - text: the
                  start: 142450
                  end: 142730
                  confidence: 0.99902344
                  speaker: B
                - text: elderly
                  start: 142730
                  end: 143250
                  confidence: 1.0
                  speaker: B
                - text: who
                  start: 143250
                  end: 143530
                  confidence: 0.89160156
                  speaker: B
                - text: are,
                  start: 143530
                  end: 143810
                  confidence: 0.70458984
                  speaker: B
                - text: you
                  start: 143810
                  end: 144010
                  confidence: 0.5307617
                  speaker: B
                - text: know,
                  start: 144010
                  end: 144170
                  confidence: 0.9980469
                  speaker: B
                - text: their
                  start: 144170
                  end: 144370
                  confidence: 0.99658203
                  speaker: B
                - text: bodies
                  start: 144370
                  end: 144570
                  confidence: 0.9996745
                  speaker: B
                - text: are
                  start: 144570
                  end: 144690
                  confidence: 0.9970703
                  speaker: B
                - text: more
                  start: 144690
                  end: 144850
                  confidence: 0.99853516
                  speaker: B
                - text: in
                  start: 144850
                  end: 144970
                  confidence: 0.96435547
                  speaker: B
                - text: decline
                  start: 144970
                  end: 145250
                  confidence: 0.9995117
                  speaker: B
                - text: and
                  start: 145250
                  end: 145410
                  confidence: 0.9975586
                  speaker: B
                - text: they're
                  start: 145410
                  end: 145610
                  confidence: 0.9921875
                  speaker: B
                - text: more
                  start: 145610
                  end: 145730
                  confidence: 0.99853516
                  speaker: B
                - text: susceptible
                  start: 145730
                  end: 146250
                  confidence: 0.99960935
                  speaker: B
                - text: to
                  start: 146250
                  end: 146450
                  confidence: 0.9995117
                  speaker: B
                - text: the
                  start: 146450
                  end: 146570
                  confidence: 0.99902344
                  speaker: B
                - text: health
                  start: 146570
                  end: 146770
                  confidence: 0.9995117
                  speaker: B
                - text: impacts
                  start: 146770
                  end: 147250
                  confidence: 0.99902344
                  speaker: B
                - text: of
                  start: 147250
                  end: 147530
                  confidence: 0.95751953
                  speaker: B
                - text: breathing,
                  start: 147690
                  end: 148130
                  confidence: 0.95426434
                  speaker: B
                - text: the
                  start: 148130
                  end: 148410
                  confidence: 0.7241211
                  speaker: B
                - text: poor
                  start: 148490
                  end: 148810
                  confidence: 0.9980469
                  speaker: B
                - text: air
                  start: 148810
                  end: 148970
                  confidence: 0.9995117
                  speaker: B
                - text: quality.
                  start: 148970
                  end: 149450
                  confidence: 1.0
                  speaker: B
                - text: And
                  start: 150570
                  end: 150850
                  confidence: 0.8666992
                  speaker: B
                - text: then
                  start: 150850
                  end: 151050
                  confidence: 0.9975586
                  speaker: B
                - text: people
                  start: 151050
                  end: 151290
                  confidence: 0.9995117
                  speaker: B
                - text: who
                  start: 151290
                  end: 151490
                  confidence: 0.99902344
                  speaker: B
                - text: have
                  start: 151490
                  end: 151610
                  confidence: 0.9995117
                  speaker: B
                - text: pre
                  start: 151610
                  end: 151770
                  confidence: 0.99902344
                  speaker: B
                - text: existing
                  start: 151770
                  end: 152169
                  confidence: 0.98828125
                  speaker: B
                - text: health
                  start: 152169
                  end: 152369
                  confidence: 0.99902344
                  speaker: B
                - text: conditions,
                  start: 152369
                  end: 152650
                  confidence: 0.9987793
                  speaker: B
                - text: people
                  start: 152650
                  end: 152850
                  confidence: 0.9707031
                  speaker: B
                - text: with
                  start: 152850
                  end: 153010
                  confidence: 0.9951172
                  speaker: B
                - text: respiratory
                  start: 153010
                  end: 153410
                  confidence: 0.9978841
                  speaker: B
                - text: conditions
                  start: 153410
                  end: 153770
                  confidence: 0.9992676
                  speaker: B
                - text: or
                  start: 153770
                  end: 153970
                  confidence: 0.9946289
                  speaker: B
                - text: heart
                  start: 153970
                  end: 154130
                  confidence: 0.9995117
                  speaker: B
                - text: conditions,
                  start: 154130
                  end: 154490
                  confidence: 0.99975586
                  speaker: B
                - text: can
                  start: 154490
                  end: 154690
                  confidence: 0.99902344
                  speaker: B
                - text: be
                  start: 154690
                  end: 154850
                  confidence: 0.9995117
                  speaker: B
                - text: triggered
                  start: 154850
                  end: 155210
                  confidence: 1.0
                  speaker: B
                - text: by
                  start: 155210
                  end: 155370
                  confidence: 0.9995117
                  speaker: B
                - text: high
                  start: 155370
                  end: 155610
                  confidence: 0.99902344
                  speaker: B
                - text: levels
                  start: 155610
                  end: 155850
                  confidence: 0.99975586
                  speaker: B
                - text: of
                  start: 155850
                  end: 155970
                  confidence: 0.9995117
                  speaker: B
                - text: air
                  start: 155970
                  end: 156170
                  confidence: 1.0
                  speaker: B
                - text: pollution.
                  start: 156170
                  end: 156650
                  confidence: 1.0
                  speaker: B
                - text: Could
                  start: 157450
                  end: 157770
                  confidence: 0.99902344
                  speaker: A
                - text: this
                  start: 157770
                  end: 158010
                  confidence: 0.9995117
                  speaker: A
                - text: get
                  start: 158010
                  end: 158210
                  confidence: 0.9995117
                  speaker: A
                - text: worse?
                  start: 158210
                  end: 158650
                  confidence: 0.99975586
                  speaker: A
                - text: That's
                  start: 162170
                  end: 162490
                  confidence: 0.9995117
                  speaker: B
                - text: a
                  start: 162490
                  end: 162610
                  confidence: 0.9995117
                  speaker: B
                - text: good
                  start: 162610
                  end: 162770
                  confidence: 1.0
                  speaker: B
                - text: question.
                  start: 162770
                  end: 163050
                  confidence: 0.9995117
                  speaker: B
                - text: I
                  start: 163130
                  end: 163410
                  confidence: 0.93896484
                  speaker: B
                - text: mean,
                  start: 163410
                  end: 163570
                  confidence: 0.9970703
                  speaker: B
                - text: I
                  start: 163570
                  end: 163690
                  confidence: 0.9941406
                  speaker: B
                - text: think
                  start: 163690
                  end: 163850
                  confidence: 0.9995117
                  speaker: B
                - text: if
                  start: 163850
                  end: 164170
                  confidence: 0.98779297
                  speaker: B
                - text: in
                  start: 165260
                  end: 165380
                  confidence: 0.9824219
                  speaker: B
                - text: some
                  start: 165380
                  end: 165540
                  confidence: 1.0
                  speaker: B
                - text: areas
                  start: 165540
                  end: 165820
                  confidence: 0.99902344
                  speaker: B
                - text: it's
                  start: 165900
                  end: 166220
                  confidence: 0.99820966
                  speaker: B
                - text: much
                  start: 166220
                  end: 166340
                  confidence: 0.99902344
                  speaker: B
                - text: worse
                  start: 166340
                  end: 166540
                  confidence: 1.0
                  speaker: B
                - text: than
                  start: 166540
                  end: 166660
                  confidence: 0.9980469
                  speaker: B
                - text: others
                  start: 166660
                  end: 166860
                  confidence: 1.0
                  speaker: B
                - text: and
                  start: 166860
                  end: 167180
                  confidence: 0.97314453
                  speaker: B
                - text: it
                  start: 167180
                  end: 167460
                  confidence: 0.99121094
                  speaker: B
                - text: just
                  start: 167460
                  end: 167620
                  confidence: 0.99853516
                  speaker: B
                - text: depends
                  start: 167620
                  end: 167980
                  confidence: 0.90201825
                  speaker: B
                - text: 'on'
                  start: 167980
                  end: 168180
                  confidence: 0.9951172
                  speaker: B
                - text: kind
                  start: 168180
                  end: 168340
                  confidence: 0.79785156
                  speaker: B
                - text: of
                  start: 168340
                  end: 168500
                  confidence: 0.99853516
                  speaker: B
                - text: where
                  start: 168500
                  end: 168700
                  confidence: 1.0
                  speaker: B
                - text: the
                  start: 168700
                  end: 168860
                  confidence: 0.9980469
                  speaker: B
                - text: smoke
                  start: 168860
                  end: 169140
                  confidence: 0.9503581
                  speaker: B
                - text: is
                  start: 169140
                  end: 169340
                  confidence: 0.99902344
                  speaker: B
                - text: concentrated.
                  start: 169340
                  end: 170140
                  confidence: 0.99990237
                  speaker: B
                - text: I
                  start: 171020
                  end: 171300
                  confidence: 0.9970703
                  speaker: B
                - text: think
                  start: 171300
                  end: 171460
                  confidence: 1.0
                  speaker: B
                - text: New
                  start: 171460
                  end: 171620
                  confidence: 1.0
                  speaker: B
                - text: York
                  start: 171620
                  end: 171900
                  confidence: 1.0
                  speaker: B
                - text: has
                  start: 171980
                  end: 172260
                  confidence: 0.9995117
                  speaker: B
                - text: some
                  start: 172260
                  end: 172420
                  confidence: 0.9995117
                  speaker: B
                - text: of
                  start: 172420
                  end: 172540
                  confidence: 0.9980469
                  speaker: B
                - text: the
                  start: 172540
                  end: 172660
                  confidence: 0.9995117
                  speaker: B
                - text: higher
                  start: 172660
                  end: 172860
                  confidence: 0.9995117
                  speaker: B
                - text: concentrations
                  start: 172860
                  end: 173540
                  confidence: 0.9995117
                  speaker: B
                - text: right
                  start: 173540
                  end: 173700
                  confidence: 0.99853516
                  speaker: B
                - text: now,
                  start: 173700
                  end: 173860
                  confidence: 0.9995117
                  speaker: B
                - text: but
                  start: 173860
                  end: 174020
                  confidence: 0.9970703
                  speaker: B
                - text: that's
                  start: 174020
                  end: 174220
                  confidence: 0.9983724
                  speaker: B
                - text: going
                  start: 174220
                  end: 174340
                  confidence: 0.7973633
                  speaker: B
                - text: to
                  start: 174340
                  end: 174460
                  confidence: 0.9995117
                  speaker: B
                - text: change
                  start: 174460
                  end: 174620
                  confidence: 1.0
                  speaker: B
                - text: as
                  start: 174620
                  end: 174820
                  confidence: 0.99121094
[...]
